<% SUPPORTED_DEBIAN_VERSIONS.keys.each do |deb| %>
<div class="debian_hideable <%= deb %>">
  <%= render_partial('/advanced_guides/install_and_upgrade/install_os_content/debian', locals: locals.merge(no_back_button: true, os_config_type: deb.to_sym, edition_title: edition_type == :enterprise ? "Passenger Enterprise" : "Passenger")) %>
</div>
<% end %>
