<p class="os_install_loading_indicator">Loading...</p>

<div>
  <select id="os_install_select" style="display: none">
    <option value="none" selected>Please select an operating system / installation method</option>
    <option value="debian">Debian, Ubuntu (with APT)</option>
    <option value="redhat">Red Hat, CentOS (with RPM)</option>
    <option data-ownserver_only value="osx">macOS</option>
    <option value="other">Other / OS independent (generic installation method)</option>
  </select>
  <span class="arrow-down"></span>
</div>

<div class="install_os install_os_debian" style="display: none">
  <div>
    <select id="debian_version_select">
      <%= debian_version_selection_options %>
      <option value="other">Other</option>
    </select>
    <span class="arrow-down"></span>
  </div>

  <div class="unsupported_debian_instructions">
    Is your Debian or Ubuntu version not listed? Then sorry, we do not provide packages for this version at the moment. Please <a href="javascript:void(showGenericInstallationInstructions())">select "Other / OS independent (generic installation method)"</a> in the installation method dropdown, then select an appropriate choice.
  </div>
</div>

<div class="install_os install_os_redhat" style="display: none">
  <div>
    <select id="redhat_version_select">
      <%= redhat_version_selection_options %>
      <option value="other">Other</option>
    </select>
    <span class="arrow-down"></span>
  </div>

  <div class="unsupported_redhat_instructions">
    Is your Red Hat or CentOS version not listed? Then sorry, we do not provide packages for this version at the moment. Please <a href="javascript:void(showGenericInstallationInstructions())">select "Other / OS independent (generic installation method)"</a> in the installation method dropdown, then select an appropriate choice.
  </div>
</div>

<div class="install_os install_os_other" style="display: none">
  <p><select id="generic_install_method_select">
    <option value="none" selected>Please select an installation method</option>
    <option value="tarball">Source tarball</option>
    <% if locals[:language_type].nil? || locals[:language_type] == :ruby %>
      <option value="rubygems_rvm">RubyGems (with RVM)</option>
      <option value="rubygems_norvm">RubyGems (without RVM)</option>
    <% end %>
  </select></p>
</div>

<div class="install_os install_os_none" style="display: none">
  <p><small><a href="#windows_not_supported" data-toggle="collapse" aria-expanded="false" aria-controls="windows_not_supported">(Windows is not supported)</a></small></p>

  <div class="collapse" id="windows_not_supported">
    <div class="note">
      Our apologies to Windows users. Passenger doesn't support Windows. We require a Unix-like operating system.
    </div>
  </div>
</div>
