---
title: Help!
section: basics
subsection: help
sidebar: ../nodejs_or_iojs/toc.html
language_type: iojs
language_name: io.js
---
# Help!

<%= render_partial("../shared/help.md", locals: { language_type: :iojs, language_name: "io.js" }) %>

Next, we will show you how to install Passenger.

<a href="installation.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
