---
title: Installation
section: basics
subsection: installation
sidebar: ../nodejs_or_iojs/toc.html
language_type: iojs
language_name: io.js
---
# Installation

Installing Passenger is easy. We provide OS-specific installation packages to make your life easy.

<%= render_partial("../../start/install.html") %>

## Installation in production

Note that installation in production is different, but we'll cover that later in the <a href="../../deploy/iojs/">deployment walkthrough</a>.

## Next step

Next, we'll consider the `passenger` command, which is responsible for starting and stopping Passenger in its Standalone mode.

<a href="passenger_command.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
