---
title: Deploying a Meteor app
section: deploy_walkthrough
comments: false
deploy_walkthrough:
- :launch_server
- :installations
- :deploying_your_app
- :deploy_updates
---

<h1>Deploying a Meteor app on AWS production server</h1>
<%= render_partial('/shared/current_selection') %>

<% locals = {language_name:"Meteor",language_type: :meteor, integration_mode_type: :apache, edition_type: :enterprise, infrastructure_type: :aws} %>

<%= render_partial("/walkthroughs/deploy/deploy_app/apache", locals: locals) %>

<div id="next-step">
  <h2>Next step: Deploying updates</h2>
  <a class="dark-button" href="<%= url_for "/tutorials/deploy_to_production/deploy_updates/index.html" %>">Continue</a>
</div>
