---
section: admin
comments: false
skip_search: true
---
<%
@page_title = "Debugging console - #{integration_mode_name}"
content_for(:sidebar) { render_partial("../sidebar.html", locals: locals) }
%>

<h1>Debugging console<br>
<small>on Passenger <%= integration_mode_name_as_passenger_suffix %></small></h1>

<%= render_partial("/shared/ask_lang.html", locals: locals.merge(
  dest: ":lang:/",
  limit_choices: { "lang" => [LANG_RUBY, LANG_NODEJS] }
)) %>
