<section class="bs-docs-section">
  <h1 class="page-header">Get Started</h1>
  <p>Getting started is a breeze and only takes 5 minutes!</p>
  <ul>
    <li><%= link_to "Ruby", "/start/ruby.html" %></li>
    <li><%= link_to "Node.js", "/start/nodejs.html" %></li>
    <li><%= link_to "Meteor", "/start/meteor.html" %></li>
  </ul>
</section>
