---
title: Union Station logging
section: unionstation
---
<% content_for(:sidebar) { render_partial("sidebar.html", locals: locals.merge(context: :index)) } %>

# Union Station logging

<div class="row">
  <div class="col-md-6">
    <h3>Out-of-the-box</h3>

    <ul class="list-unstyled list-links">
      <li><a href="../setup.html">Setup <span class="label label-warning">todo</span></a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Customization</h3>

    <ul class="list-unstyled list-links">
      <li><a href="../filter_language.html">Filter language</a></li>
      <% if [:ruby, :nodejs, :meteor].include?(language_type) %>
        <li><a href="ust_logging_api.html">Using the Union Station logging API</a></li>
      <% end %>
    </ul>
  </div>
</div>

<!--
<div class="row">
  <div class="col-md-12">
    <h2>Related guides</h2>
    <ul class="list-unstyled list-links">
      <li><a href="<%= url_for "/section/todo.html" %>"><span class="label label-warning">todo</span></a></li>
    </ul>
  </div>
</div>
-->
