---
section: admin
comments: false
skip_search: true
---
<%
@page_title = "Troubleshooting - #{integration_mode_name}"
content_for(:sidebar) { render_partial("../sidebar.html", locals: locals) }
%>

<h1>Troubleshooting Passenger <%= integration_mode_name_as_passenger_suffix %></h1>

<%= render_partial("/shared/ask_lang.html", locals: {
  dest: ":lang:/",
  limit_choices: { "lang" => [LANG_RUBY, LANG_PYTHON, LANG_NODEJS, LANG_METEOR] }
})
%>
