<h1 class="page-header">Deploy to production</h1>
<p class="lead">Ready to get serious or planning to scale? We've got you covered, no matter which hosting provider or operating system you use.</p>

<h2>End-to-end guides</h2>
<ul>
  <li><a href="">Deploying to Heroku</a> <span class="label label-ruby">Ruby only</span></li>
  <li><a href="">Deploying to Digital Ocean</a></li>
  <li><a href="">Deploying to Amazon Web Services</a></li>
  <li><a href="">Deploying to any Ubuntu server</a></li>
  <li><a href="">Deploying to any Unix server</a></li>
</ul>

<h2>Web server integration</h2>
<ul>
  <li><a href="">Overview</a></li>
  <li><a href="">Reverse proxy setup with Nginx</a></li>
  <li><a href="">Apache integration</a></li>
  <li><a href="">Nginx integration</a></li>
</ul>

<h2>Scaling</h2>
<ul>
  <li>Scaling to multiple servers</li>
</ul>

<h2>High availability</h2>
<ul>
  <li>Setting up high availability with Amazon Web Services</li>
  <li>Setting up high availability on any infrastructure</li>
</ul>
