---
title: 'Configuration and optimization'
section: config
---
<%
content_for(:sidebar) do
  %Q{
    <div class="breadcrumb-container breadcrumb-container-sidebar" data-swiftype-index="false">
      <p class="breadcrumb-announcer">Current section:</p>

      <h2>
        <a href="#{url_for "/config/index.html"}">
          <span class="glyphicon glyphicon-cog"></span>
          Configuration and optimization
        </a>
      </h2>

      <p class="back-to-previous">
        <a href="#{url_for "/index.html"}">&laquo; Back to Passenger Library front page</a>
      </p>
    </div>
  }
end
%>

# Configuration and optimization

<ul class="list-unstyled list-links">
  <li><a href="troubleshooting.html">Overview of major Passenger features</a></li>
  <li><a href="server_optimization_guide.html">Server optimization guide</a></li>
  <li><a href="reference.html">Configuration reference</a></li>
  <li><a href="cloud_licensing_configuration.html">Passenger Enterprise cloud licensing configuration</a></li>
</ul>
