---
title: Configuration and optimization
section: config
comments: false
skip_search: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Configuration and optimization</h1>
      <p>Passenger configuration options and features explained, as well as tweaking guides for optimal performance for your specific situation and wishes.</p>
    </div>
  </div>
<% end %>

<%= render_partial("/shared/ask_intmode", locals: { dest: ":intmode:/" }) %>
