---
title: Dealing with multiple Apache installations
advanced_guides: true
breadcrumb: true
---

# Dealing with multiple Apache installations

Some systems have multiple Apache installations. Maybe you already know about that, and you installed multiple Apaches for a reason. Or maybe you did so in the past but then forgot about the other installs. Or maybe someone else -- or some other software -- installed another Apache for you without your knowledge.

Whatever the reason might be, it is important that you know about the existance of multiple Apache installations, and that you decide *which one* you want to use. **Unless you know exactly what you are doing, we recommend that you remove all the Apache installations that you don't intend to use, in order to avoid confusion and problems**. You should end up with only a single Apache installation. Unfortunately, this documentation cannot tell you how to remove the other Apache installs: it depends on how you originally installed them. Usually it's a matter of removing the directories that they're located in, and removing their configuration files. But some Apache distributions might bundle an uninstaller. You need to do the proper research on how they ended up there in the first place.

Passenger provides a tool to check whether you have multiple Apache installations on your system. You can invoke the tool by running `passenger-config --detect-apache2`.

If the existance of multiple Apache installations is intentional, then Passenger can happily go along with your choice: you simply have to tell `passenger-install-apache2-module` which Apache to install against. There are several ways to specify which Apache you want to install against:

 * By passing the `--apxs2-path` parameter. The `passenger-config --detect-apache2` command will tell you how to use this parameter.
 * By setting `APXS2`, `HTTPD` and other kinds of environment variables. Please refer to [Forcing location of command line tools and dependencies](<%= url_for "/install/apache/customizing_compilation_process.html" %>#forcing-location-of-command-line-tools-and-dependencies) for more information.

<div class="back-button">
  <a class="dark-button" href="/advanced_guides/install_and_upgrade/">Back</a>
</div>
