# http://EditorConfig.org

root = true

[*]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf
charset = utf-8

[*.erb]
indent_size = 2

[*.html]
indent_size = 2

[*.md]
indent_size = 2

[*.css]
indent_size = 2

[*.scss]
indent_style = space
indent_size = 2

[*.rb]
indent_size = 2

[*.js]
indent_size = 2

[Rakefile]
indent_size = 2

[Gemfile]
indent_size = 2
