---
title: Scaling and high availability overview
advanced_guides: true
---

# Scaling and high availability overview

<a href="https://www.digitalocean.com/community/tutorials/5-common-server-setups-for-your-web-application"><img src="https://community-cdn-digitalocean-com.global.ssl.fastly.net/assets/tutorials/images/large/06022014_5_Common_Server_Setups_Twitter-01.png?1426699692"></a>

Passenger has excellent support for scaling and high availability. Scaling means setting up additional servers so that your web app can handle more traffic. High availability means setting up additional servers so that your web app becomes more resilient against failures and down time.

There is not one single way to setup scaling and high availability. Different setups have their own pros and cons. We recommend you to read the article [5 Common Server Setups For Your Web Application](https://www.digitalocean.com/community/tutorials/5-common-server-setups-for-your-web-application). While this is a Digital Ocean article, it applies generally no matter which hosting provider or infrastructure you are using.

<a href="https://www.digitalocean.com/community/tutorials/5-common-server-setups-for-your-web-application" class="btn btn-lg btn-primary">Read the article &raquo;</a>
