# Sample passenger_wsgi.py for Django

For Django applications, `passenger_wsgi.py` should look like this:

~~~python
import myproject.wsgi
application = myproject.wsgi.application
~~~

Replace `myproject` with your project’s module name.

<div class="back-button">
  <a class="dark-button" href="/advanced_guides/deployment_and_scaling/">Back</a>
</div>
