---
title: 'Help! - Passenger + Ruby basics'
section: basics
subsection: help
sidebar: _toc.html
---
# Help!

<%= render_partial("../shared/help.md", locals: { language_type: :ruby, language_name: "Ruby" }) %>

<a href="conclusion.html" class="btn btn-primary btn-lg">Summary and Conclusion &raquo;</a>
