---
section: deploy
comments: false
skip_search: true
---
<%
@page_title = "Deploying an application - #{integration_mode_name}"
content_for(:sidebar) { render_partial("../sidebar", locals: locals) }
%>

<h1>Deploying an application<br>
<small>on Passenger <%= integration_mode_name_as_passenger_suffix %></small></h1>

<%= render_partial("/shared/ask_lang", locals: { dest: ":lang:/" }) %>
