---
title: 'Help! - Passenger + Meteor basics'
section: basics
subsection: help
sidebar: toc.html
language_type: meteor
language_name: Meteor
---
# Help!

<%= render_partial("../shared/help", locals: { language_type: :meteor, language_name: "Meteor" }) %>

Please continue to the Conclusion.

<a href="conclusion.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
