---
title: 'The beginning - Passenger + Meteor basics'
section: basics
subsection: beginning
sidebar: toc.html
---
# The beginning

In this gentle tutorial you will learn what Passenger is and how it fits in the stack. You will also learn about the basic features and how Passenger helps you during development.

We have done our best to make this tutorial friendly to newbies, so please feel at ease. :-) If you are lost, we ask that you let us know so that we can improve.

There is also a [5 minute quickstart](../../start/meteor.html). The quickstart does not explain the concepts very deeply, but it is very short and allows you to get a "feel" of Passenger very quickly. You should read it if you have not yet.

Anyway, if you are ready to begin this tutorial, click on the button below to get started.

<a href="fundamental_concepts.html" class="btn btn-primary btn-lg">Begin basics tutorial &raquo;</a>
