<% @page_title = "Installing io.js - #{edition_title} + #{language_name} deployment walkthrough on #{infrastructure_name}" %>
<h1>Installing io.js</h1>

Before you can deploy your app on the production server, you need to install ios. Please download it from <a href="https://iojs.org/">iojs.org</a>.

When you are done, continue to the next step.
