<% @page_title = "Installing Node.js - #{deployment_walkthrough_page_title(locals)}" %>
<h1>Installing Node.js</h1>

<% if language_type == :meteor %>
<div class="note">
At the time of writing (March 2016), Meteor <a href="https://github.com/meteor/meteor/issues/5124">requires an old Node.js version (0.10)</a>. This is reflected in
our installation instructions below.
</div>
<% end %>
Before you can deploy your app on the production server, you need to install Node.js. Here's how you can do that:

<table class="table table-bordered table-striped">
  <tr>
    <td>
      Debian, Ubuntu
    </td>
    <td>
      <p>Run the following commands to install Node.js from the <a href="https://nodesource.com/">NodeSource</a> APT repository. With these commands, we also install a compiler so that we are able to install native addons from npm.</p>
      <pre class="highlight"><span class="prompt">$ </span>sudo apt-get update
<span class="prompt">$ </span>sudo apt-get install -y curl apt-transport-https ca-certificates &amp;&amp;
  <% if language_type == :nodejs %>curl --fail -ssL -o setup-nodejs https://deb.nodesource.com/setup_4.x &amp;&amp;<% end %><% if language_type == :meteor %>curl --fail -ssL -o setup-nodejs https://deb.nodesource.com/setup_0.10 &amp;&amp;<% end %>
  sudo bash setup-nodejs &amp;&amp;
  sudo apt-get install -y nodejs build-essential</pre>
    </td>
  </tr>
  <tr>
    <td>
      Red Hat, CentOS, Fedora
    </td>
    <td>
      <p>Run the following commands to enable <a href="https://fedoraproject.org/wiki/EPEL">EPEL</a> and to install Node.js from the <a href="https://nodesource.com/">NodeSource</a> YUM repository. With these commands, we also install a compiler so that we are able to install native addons from npm.</p>
      <pre class="highlight"><span class="prompt">$ </span>sudo yum install -y epel-release curl
<span class="prompt">$ </span><% if language_type == :nodejs %>curl --fail -sSL -o setup-nodejs https://rpm.nodesource.com/setup_4.x<% end %><% if language_type == :meteor %>curl --fail -sSL -o setup-nodejs https://rpm.nodesource.com/setup_0.10<% end %>
<span class="prompt">$ </span>sudo bash setup-nodejs
<span class="prompt">$ </span>sudo yum install -y nodejs gcc-c++ make</pre>
    </td>
  </tr>
  <tr>
    <td>
      Gentoo
    </td>
    <td>
      <% if language_type == :meteor %>Please install from source from <a href="http://www.nodejs.org/">www.nodejs.org</a> because the regular way (listed below) will probably install a newer version.<% end %>
      <pre class="highlight"><span class="prompt">$ </span>sudo emerge nodejs</pre>
    </td>
  </tr>
  <tr>
    <td>
      Arch Linux
    </td>
    <td>
      <% if language_type == :meteor %>Please install from source from <a href="http://www.nodejs.org/">www.nodejs.org</a> because the regular way (listed below) will probably install a newer version.<% end %> 
      <pre class="highlight"><span class="prompt">$ </span>sudo pacman -S nodejs npm</pre>
    </td>
  </tr>
  <tr>
    <td>
      Mac OS X
    </td>
    <td>
      Please download the Node.js OS X installer <% if language_type == :meteor %>(version 0.10.x)<% end %> from <a href="https://nodejs.org/download/">the Node.js download page</a> and run it.
    </td>
  </tr>
  <tr>
    <td>
      Other Linux operating systems (32-bit or 64-bit only)
    </td>
    <td>
      Please download either the 32-bit or 64-bit Node.js Linux binaries <% if language_type == :meteor %>(version 0.10.x)<% end %> from <a href="https://nodejs.org/download/">the Node.js download page</a>.
    </td>
  </tr>
  <tr>
    <td>
      Other operating systems
    </td>
    <td>
      Please install Node.js <% if language_type == :meteor %>(version 0.10.x)<% end %> from source from <a href="http://www.nodejs.org/">www.nodejs.org</a>.
    </td>
  </tr>
</table>

When you are done, continue to the next step.
