<% @page_title = "Installing Ruby with RVM - #{deployment_walkthrough_page_title(locals)}" %>
<h1>Installing Ruby <small>with RVM</small></h1>

Before you can deploy your app on the production server, you need to install Ruby. In this walkthrough we recommend that you use [Ruby Version Manager (RVM)](https://rvm.io/) for this purpose. RVM is a tool for installing and managing multiple Ruby versions.

There are other ways to install Ruby, e.g. through yum, apt-get, source tarball, rbenv and chruby. You *can* use one of those other installation methods if you so wish, and this walkthrough will work fine even if you installed Ruby using one of those other installation methods. But the one that we recommend in this walkthrough is RVM, because in our opinion it is the easiest option.

<% spec = deployment_walkthrough_next_step_after_install_language_runtime(locals) %>
If you have already installed Ruby, then you [can skip to the next page](<%= spec[:url] %>).

<div>
  <p><strong>Table of contents</strong></p>
  <ol class="toc-container"><li>Loading...</li></ol>
</div>

## Prepare the system

Ensure that curl and gpg are installed, as well as a compiler toolchain. Curl and gpg are needed for further installation steps, while the compiler toolchain is needed for installing common Ruby gems.

<table class="table table-bordered table-striped">
  <tr>
    <td>
      Debian, Ubuntu
    </td>
    <td>
      <pre class="highlight">sudo apt-get update
sudo apt-get install -y curl gnupg build-essential</pre>
    </td>
  </tr>
  <tr>
    <td>
      Red Hat, CentOS, Fedora, Amazon Linux, Scientific Linux
    </td>
    <td>
      <pre class="highlight">sudo yum install -y curl gpg gcc gcc-c++ make</pre>
    </td>
  </tr>
  <tr>
    <td>
      Mac OS X
    </td>
    <td>
      You don't have to do anything. They are already installed.
    </td>
  </tr>
</table>

## Install RVM

Run the following commands on your production server to install RVM:

<pre class="highlight"><span class="prompt">$ </span>gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
<span class="prompt">$ </span>curl -sSL https://get.rvm.io | sudo bash -s stable
<span class="prompt">$ </span>sudo usermod -a -G rvm `whoami`</pre>

On systems where sudo is configured with `secure_path`, the shell environment needs to be modified to set `rvmsudo_secure_path=1`. `secure_path` is set on most Linux systems, but not on OS X. The following command tries to autodetect whether it is necessary to install `rvmsudo_secure_path=1`, and only installs the environment variable if it is the code.

<pre class="highlight"><span class="prompt">$ </span><span class="k">if</span> sudo grep -q secure_path /etc/sudoers; <span class="k">then</span> sudo sh -c <span class="s">"echo export rvmsudo_secure_path=1 >> /etc/profile.d/rvm_secure_path.sh"</span> &amp;&amp; echo Environment variable installed; <span class="k">fi</span></pre>

When you are done with all this, **relogin to your server** to activate RVM. This is important: if you don't relogin, RVM doesn't work.

## Install the Ruby version you want

Usually, installing the latest Ruby version will suffice. If you are deploying <a href="<%= url_for("/walkthroughs/start/#{language_type}.html") %>#preparing-the-example-application">the example app from the quickstart</a>, then that example application works with all Ruby versions.

However, if you are deploying your own app, then your app may have a specific Ruby version requirement.

To install the latest version of Ruby, run:

<pre class="highlight"><span class="prompt">$ </span>rvm install ruby
<span class="prompt">$ </span>rvm --default use ruby</pre>

To install a specific version of Ruby, run:

<pre class="highlight"><span class="prompt">$ </span>rvm install ruby-<span class="si">X.X.X</span>
<span class="prompt">$ </span>rvm --default use ruby-<span class="si">X.X.X</span></pre>

Replace X.X.X with the Ruby version you want.

## Install Bundler

Bundler is a popular tool for managing application gem dependencies. We will use Bundler in this walkthrough, so let us install it:

<pre class="highlight"><span class="prompt">$ </span>gem install bundler --no-rdoc --no-ri</pre>

## Optional: install Node.js if you're using Rails

If you are using Rails, then you must install Node.js. This is because Rails's asset pipeline compiler requires a Javascript runtime. The Node.js version does not matter.

If you do not use Rails then you can [skip to the next step](#heads-up-sudo-vs-rvmsudo).

To install Node.js:

<table class="table table-bordered table-striped">
  <tr>
    <td>
      Ubuntu
    </td>
    <td>
      <pre class="highlight">sudo apt-get install -y nodejs &amp;&amp;
sudo ln -sf /usr/bin/nodejs /usr/local/bin/node</pre>
    </td>
  </tr>
  <tr>
    <td>
      Debian &gt;= 8 (Jessie or later)
    </td>
    <td>
      <pre class="highlight">sudo apt-get install -y nodejs &amp;&amp;
sudo ln -sf /usr/bin/nodejs /usr/local/bin/node</pre>
    </td>
  </tr>
  <tr>
    <td>
      Debian 7 (Squeeze)
    </td>
    <td>
      <p>Run the following commands to install Node.js from the <a href="https://nodesource.com/">NodeSource</a> APT repository.</p>
      <pre class="highlight">sudo apt-get update &amp;&amp;
sudo apt-get install -y apt-transport-https ca-certificates &amp;&amp;
curl --fail -ssL -o setup-nodejs https://deb.nodesource.com/setup_0.12 &amp;&amp;
sudo bash setup-nodejs &amp;&amp;
sudo apt-get install -y nodejs</pre>
    </td>
  </tr>
  <tr>
    <td>
      Red Hat, CentOS, Fedora, Amazon Linux, Scientific Linux
    </td>
    <td>
      <pre class="highlight">sudo yum install -y epel-release
sudo yum install -y --enablerepo=epel nodejs npm</pre>
    </td>
  </tr>
  <tr>
    <td>
      Other operating systems
    </td>
    <td>
      Please install Node.js from <a href="http://www.nodejs.org/">www.nodejs.org</a>.
    </td>
  </tr>
</table>

## Heads-up: sudo vs rvmsudo

One thing you should be aware of when using RVM, is that you should use `rvmsudo` instead of `sudo` when executing Ruby-related commands. This is because RVM works by manipulating environment variables. However, sudo nukes all environment variables for security reasons, which intereferes with RVM.

[Visit the RVM website to learn more about rvmsudo.](https://rvm.io/integration/sudo)

## Next step

Congratulations, you have installed Ruby on your production server!
