Before continuing with this tutorial, stop the server by pressing Ctrl-C:

<pre class="highlight"><%= passenger_command_prefix_html(locals, :cd => false) %>passenger start
<span class="output">...
(press Ctrl-C here)
Stopping web server... done!</span></pre>
