<p><select id="os_install_select">
  <option value="none" selected>Please select an operating system</option>
  <option value="debian">Debian, Ubuntu</option>
  <option value="redhat">Red Hat, CentOS</option>
  <option value="osx">Mac OS X</option>
  <option value="other">Other</option>
</select></p>

<div class="install_os" id="install_os_none" style="display: none">
  <p><small><a href="#windows_not_supported" data-toggle="collapse" aria-expanded="false" aria-controls="windows_not_supported">(Windows is not supported)</a></small></p>

  <div class="collapse" id="windows_not_supported">
    <div class="note">
      Our apologies to Windows users. Passenger doesn't support Windows. We require a Unix-like operating system.
    </div>
  </div>
</div>

<div class="install_os" id="install_os_debian" style="display: none">
  <p><select id="debian_version_select">
    <option value="jessie" selected>Debian 8 (Jessie)</option>
    <option value="wheezy">Debian 7 (Wheezy)</option>
    <option value="squeeze">Debian 6 (Squeeze)</option>
    <option value="vivid">Ubuntu 15.04 (Vivid)</option>
    <option value="trusty">Ubuntu 14.04 LTS (Trusty)</option>
    <option value="precise">Ubuntu 12.04 LTS (Precise)</option>
    <option value="other">Other</option>
  </select></p>

  <div class="supported_debian_instructions">
    <p>You can install Passenger through APT:</p>

    <pre class="highlight shell"><code><span class="c unselectable"># Install our PGP key and add HTTPS support for APT</span>
sudo apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 561F9B9CAC40B2F7
sudo apt-get install apt-transport-https ca-certificates

<span class="c unselectable"># Add our APT repository</span>
sudo sh -c <span class="s1">'echo deb https://oss-binaries.phusionpassenger.com/apt/passenger <span class="debian_codename si"></span> main &gt; /etc/apt/sources.list.d/passenger.list'</span>
sudo apt-get update

<span class="c unselectable"># Install Passenger</span>
sudo apt-get install passenger</code></pre>
    
    <%= render_partial("/walkthroughs/start/postinstall_check.html") %>

    <div class="note" class="limited_package_support_for_non_lts_ubuntu" style="display: none">
      <h3 class="notoc">Limited package support for non-LTS Ubuntu versions</h3>
      <p>
        You have selected a non-Long Term Support version of Ubuntu. We only provide .deb packages for non-LTS Ubuntu versions until the next Ubuntu version comes out. Ubuntu versions come out every 6 months.
      </p>
      <p>
        So when the next Ubuntu version is released, you must upgrade your system to that new Ubuntu version. Otherwise you won't receive Passenger updates in the form of .deb packages from us anymore.
      </p>
    </div>
  </div>

  <div class="unsupported_debian_instructions">
    Is your Debian or Ubuntu version not listed? Then sorry, we do not provide packages for this version at the moment. Please follow the <a href="javascript:void(showTarballInstallationInstructions())">generic installation instructions through tarball</a>.
  </div>
</div>

<div class="install_os" id="install_os_redhat" style="display: none">
  <p><select id="redhat_version_select">
    <option value="el7" selected>Red Hat 7 / CentOS 7</option>
    <option value="el6">Red Hat 6 / CentOS 6</option>
    <option value="other">Other</option>
  </select></p>

  <div class="supported_redhat_instructions">
    <p>You can install Passenger through YUM:</p>

    <pre class="highlight shell"><code><span class="c unselectable"># Install <a href="https://fedoraproject.org/wiki/EPEL">EPEL</a> and other other prerequisites</span>
sudo yum install epel-release pygpgme curl

<span class="c unselectable"># Add our <span class="redhat_distro_name"></span> YUM repository</span>
sudo curl --fail -sSLo /etc/yum.repos.d/passenger.repo https://oss-binaries.phusionpassenger.com/yum/definitions/el-passenger.repo

<span class="c unselectable"># Install Passenger</span>
sudo yum install passenger</code></pre>

    <%= render_partial("/walkthroughs/start/postinstall_check.html") %>
  </div>

  <div class="unsupported_redhat_instructions">
    Is your Red Hat or CentOS version not listed? Then sorry, we do not provide packages for this version at the moment. Please follow the <a href="javascript:void(showTarballInstallationInstructions())">generic installation instructions through tarball</a>.
  </div>
</div>

<div class="install_os" id="install_os_osx" style="display: none">
  <p>
    You can install Passenger through <a href="http://brew.sh/">Homebrew</a>:
  </p>
  <pre class="highlight shell"><span class="prompt">$ </span>brew install passenger</pre>
  <%= render_partial("/walkthroughs/start/postinstall_check.html") %>
</div>

<div class="install_os" id="install_os_other" style="display: none">
  <p><strong>Step 1: Download and extract tarball</strong></p>
  <p>Download the latest Passenger source tarball.</p>
  <p><a href="https://www.phusionpassenger.com/latest_stable_tarball" class="btn btn-primary">Download tarball</a></p>
  <p>
    Extract the tarball to some place <strong>permanent</strong>. Replace X.X.X with the Passenger version, and <code>/somewhere-permanent</code> with an actual directory path.
  </p>
  <pre class="highlight shell"><span class="prompt">$ </span>tar -xzvf passenger-<span class="o">X.X.X</span>.tar.gz -C <span class="o">/somewhere-permanent</span></pre>

  <p style="margin-top: 2em"><strong>Step 2: Add Passenger to PATH</strong></p>
  <p>
    Add the Passenger <code>bin</code> directory to your PATH, so that your shell can locate the Passenger commands.
  </p>
  <p>
    Open your shell's startup file. If you're using bash, this is usually <code>/etc/bashrc</code> or <code>/etc/bash.bashrc</code>. Inside that file, add this to the end:
  </p>
  <pre class="highlight shell"><span class="prompt">$ </span>PATH=<span class="o">/somewhere-permanent</span>/passenger-<span class="o">X.X.X</span>/bin:$PATH
<span class="prompt">$ </span>export PATH</pre>
  <p>
    Again, replace X.X.X with the Passenger version, and <code>/somewhere-permanent</code> with an actual directory path.
  </p>
  <p>
    When you're done, restart all your shells so that your new PATH takes effect.
  </p>
  <div class="note">
    Make sure your bashrc is actually included by your bash profile, which might not be the case if you created the user with <code>useradd</code> instead of <code>adduser</code> for example.
  </div>

  <p style="margin-top: 2em"><strong>Step 3: Validate installation</strong></p>
  <%= render_partial("/walkthroughs/start/postinstall_check.html") %>
</div>
