<%= render_partial("/walkthroughs/index.html", locals: locals.merge(quickstart: false, basics: true, deployment: true)) %>

<p></p>
<p>...or <a href="<%= url_for '/index.html' %>">go back to the Library index</a>.</p>
