<div class="breadcrumb-container breadcrumb-container-main" data-swiftype-index="false">
  <p class="breadcrumb-announcer">Current section:</p>

  <h2>
    <a href="<%= url_for "/walkthroughs/start/index.html" %>">
      <span class="glyphicon glyphicon-sunglasses"></span>
      Quickstart
    </a>
  </h2>

  <p class="back-to-previous">
    <a href="<%= url_for "/index.html" %>#walkthroughs">&laquo; Back to all tutorials</a>
  </p>
</div>
