---
title: Getting started
section: start
comments: false
skip_search_index: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Getting Started</h1>
      <p>Get to know Passenger through this short, easy-to-follow tutorial. Get something up and running for development in only 5 minutes.</p>
    </div>
  </div>
<% end %>

<%= render_partial("/shared/ask_lang.html", locals: { dest: ":lang:.html", force_choice: true }) %>
