---
title: Advanced production techniques
section: advanced_production
---
<%
content_for(:sidebar) do
  %Q{
    <div class="breadcrumb-container breadcrumb-container-sidebar" data-swiftype-index="false">
      <p class="breadcrumb-announcer">Current section:</p>

      <h2>
        <a href="#{url_for "/advanced_production/index.html"}">
          <span class="glyphicon glyphicon-cog"></span>
          Advanced production techniques
        </a>
      </h2>

      <p class="back-to-previous">
        <a href="#{url_for "/index.html"}">&laquo; Back to Passenger Library front page</a>
      </p>
    </div>
  }
end
%>

# Advanced production techniques

<p><strong>TODO: deze categorie kan eigenlijk weg en gemerged worden met 'deploy/'</strong></p>

<ul class="list-unstyled list-links">
  <li><a href="automating_deployment_app_updates.html">Automating deployments of application updates</a></li>
  <li><a href="zero_downtime_redeployments.html">Zero-downtime app updates and restarts</a></li>
  <li><a href="flying_passenger.html">Zero-downtime web server restarts with Flying Passenger</a></li>
  <li><a href="server_optimization_guide.html">Server optimization guide</a></li>
  <li><a href="passenger_standalone_reverse_proxy.html">Putting Passenger Standalone behind an Nginx or Apache reverse proxy</a></li>
</ul>
