<h1>Configuration and optimization</h1>
<%= render_partial('/shared/current_selection') %>

<div class="list-of-articles row">
  <div class="col-md-6">
    <h3>Basics</h3>

    <ul class="list-unstyled list-links">
      <li><a href="intro.html">Introduction to configuring Passenger</a></li>
      <li><a href="http://www.phusionpassenger.com/docs/references/config_reference">Configuration reference</a></li>
      <li><a href="dynamic_scaling_vs_fixed_app_processes/">Dynamic scaling of application processes vs fixed process pool</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Advanced</h3>

    <ul class="list-unstyled list-links">
      <li><a href="optimization.html">Optimization</a></li>
      <li><a href="tuning_sse_and_websockets.html">Tuning for Server Sent Events and WebSockets</a></li>
      <li><a href="cloud_licensing_configuration.html">Passenger Enterprise cloud licensing configuration</a></li>
      <li><a href="cors_headers.html">Passenger CORS headers configuration</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Ruby-specific</h3>

    <ul class="list-unstyled list-links">
      <li><a href="action_cable_integration.html">Integrating Action Cable with Passenger</a></li>
    </ul>
  </div>
</div>
