#hiring-banner {;
  width: 100%;
  padding: 12px;
  background: #fd8023;
  text-align: center;
  font-family: 'AvenirNext-Regular', Lato, sans-serif;
  font-size: 13px;
  color: #ffffff;
}
#hiring-banner strong {
  font-weight: bold;
}
#hiring-banner a {
  font-weight: bold;
  color: #ffffff;
}