.bs-docs-sidebar {
  margin-top: 3em;
}

.bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
.bs-docs-sidebar.affix .bs-docs-sidenav {
  margin-bottom: 20px;
}

.bs-docs-masthead {
  padding-top:50px;
  padding-bottom:40px;
  margin-bottom:20px;
  background-image: url('../images/triangles-purple.jpg');
  background-size: cover;
  background-position: top left;
}

.bs-docs-masthead .version {
  margin-top: 15px;
  font-size: 160%;
  color: #d5cae9;
}

.bs-docs-masthead .version a {
  color: #d5cae9;
}

.bs-docs-header h1, .bs-docs-header p {
  margin-right:0px;
}

.bs-docs-sidebar .nav .nav {
  display: block;
}

.bs-docs-sidebar .nav > li > a {
  font-size:15px;
}
.bs-docs-sidebar .nav .nav > li > a {
  font-size:14px;
}
.back-top-top {
  font-size:13px;
}

#content {
  position:relative;
}
#content:after {
  content:"";
  position:absolute;
  bottom:0px;
  right:0px;
  height:50px;
  width:30%;
  background:linear-gradient(135deg, transparent 50px, white 50px);
}

.bs-docs-container .page-header {
  font-size: 2.5em;
  font-weight: normal;
}

.bs-docs-container h1,
.bs-docs-container h2,
.bs-docs-container h3 {
  /* Allow anchors to have 'position: absolute' */
  position: relative;
}

.bs-docs-container h1 {
  margin-top: 1em;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.2;
  border-bottom: solid 1px #eee;
}

.bs-docs-container h2 {
  margin-top: 1em;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.225;
  border-bottom: solid 1px #eee;
}

.bs-docs-container h3 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.43;
}

.bs-docs-container p {
  line-height: 1.6;
}

.bs-docs-container pre {
  font-size: 12px;
}

@media (min-width: 768px) {
  .bs-docs-container .lead {
    font-size: 20px;
  }
}

.edit-on-github {
  margin-left: 20px;
  color: #999;
  font-size: 24px;
}

.edit-on-github a {
  color: #999;
}

.edit-on-github:hover,
.edit-on-github a:hover {
  color: #563d7c;
}

.edit-on-github .btn-label {
  display: block;
  font-size: 12px;
}

.label-ruby {
  background-color: #b94e4b;
}
