/***** Navbar ******/

.navbar-brand-part1 {
  font-family: Lato, sans-serif;
  font-weight: 200;
}

.navbar .dropdown-menu > .active > a,
.navbar .dropdown-menu > .active > a:hover,
.navbar .dropdown-menu > .active > a:focus {
  background-color: #6f5499;
}

.home-title-brand {
  font-family: Lato, sans-serif;
  font-size: 30px;
  font-weight: 300;
  display: block;
}

.home-welcome-message {
  margin-top: 3em;
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

@media (min-width: 768px) {
  .bs-docs-masthead .lead {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .bs-docs-masthead .lead {
    font-size: 25px;
  }
}


/***** Masthead *****/

.bs-docs-masthead {
  padding-top:50px;
  padding-bottom:40px;
  margin-bottom:20px;
  background-image: url('../images/triangles-purple.jpg');
  background-size: cover;
  background-position: top left;
}

.bs-docs-masthead .version {
  margin-top: 15px;
  font-size: 140%;
  color: #d5cae9;
}

.bs-docs-masthead .version a {
  color: #d5cae9;
}

.bs-docs-header h1, .bs-docs-header p {
  margin-right:0px;
}


/***** Sidebar *****/

.bs-docs-sidebar {
  margin-top: 3em;
}

.bs-docs-sidebar.affix-bottom .bs-docs-sidenav,
.bs-docs-sidebar.affix .bs-docs-sidenav {
  margin-bottom: 20px;
}

.bs-docs-container .bs-docs-sidebar h2 {
  font-weight: normal;
  font-size: 1.2em;
  border: none;
  margin-top: 0.5em;
  margin-bottom: 0.75em;
  padding: 0;
}

.bs-docs-sidebar .nav .nav {
  display: block;
}

.bs-docs-sidebar .nav > li > a {
  font-size:15px;
}
.bs-docs-sidebar .nav .nav > li > a {
  font-size:14px;
  line-height: 1.4;
  margin-bottom: 0.4em;
}
.back-top-top {
  font-size:13px;
}
.back-to-previous {
  font-size: small;
}


/***** Content *****/

a {
  color: #6959A5;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #AD8CD0;
  text-decoration: none;
}


.bs-docs-container {
  dl, dt {
    list-style: disc;
  }

  dt {
    display: list-item;
  }

  dt, dd {
    margin-left: 2.5em;
  }

  dd {
    margin-bottom: 1em;
  }

  p {
    margin-top: 11px;
  }
}


#content {
  position:relative;
}
#content:after {
  content:"";
  position:absolute;
  bottom:0px;
  right:0px;
  height:50px;
  width:30%;
  background:linear-gradient(135deg, transparent 50px, white 50px);
}

.bs-docs-container .page-header {
  font-size: 2.5em;
  font-weight: normal;
}

.bs-docs-container h1,
.bs-docs-container h2,
.bs-docs-container h3,
.bs-docs-container h4 {
  /* Allow anchors to have 'position: absolute' */
  position: relative;
}

.bs-docs-container h1 {
  margin-top: 1em;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
  font-size: 2.25em;
  font-weight: bold;
  line-height: 1.2;
  border-bottom: solid 1px #eee;
}

.bs-docs-container h2 {
  margin-top: 1em;
  margin-bottom: 16px;
  padding-bottom: 0.3em;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1.225;
  border-bottom: solid 1px #eee;
}

.bs-docs-container h3 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.43;
}

.bs-docs-container h4 {
  margin-top: 1em;
  margin-bottom: 16px;
  font-size: 1.25em;
  font-weight: 500;
  line-height: 1.4;
  color: #666;
}

.bs-docs-container p,
.bs-docs-container li {
  line-height: 1.6;
}

.bs-docs-container code {
  color: #333;
}

.bs-docs-container pre {
  font-size: 12px;
}

.bs-docs-container pre code {
  color: inherit;
}

@media (min-width: 768px) {
  .bs-docs-container .lead {
    font-size: 20px;
  }
}

.bs-comments-section {
  margin-top: 3em;
}

.bs-comments-section-alert {
  border: dashed 2px #EDE4EF;
  font-family: Lato, sans-serif;
  font-size: 12pt;
  color: #898091;
  background-color: rgb(252, 248, 253);
  text-align: center;
  margin: 2em 0;
  padding: 2em;
  -webkit-font-smoothing: antialiased;
}

.bs-comments-section-alert > h3 {
  margin-top: 0;
  color: #79727F;
}

.bs-comments-section-alert > p {
  margin-bottom: 0;
}


.guide-description {
  font-size: 90%;
}

p.guide-description {
  margin: 0;
}

p.guide-description + p.guide-description {
  margin-top: 0.5em;
}

a code {
  text-decoration: underline;
}


figure {
  text-align: center;
  margin: 1em auto 1em auto;
  max-width: 80%;
}

figure img {
  max-width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
  display: block;
  margin-top: 1em;
}


.btn-guide {
  font-size: 32px;
  margin: 1em 0.5em 1em 0.5em;
}

.btn-guide .btn-label {
  display: block;
  font-size: 16px;
  color: #2F628E;
  margin-top: 0.5em;
}

.btn-guide:hover .btn-label {
  color: #337ab7;
}

.edit-on-github {
  margin-left: 20px;
  color: #999;
  font-size: 24px;
}

.edit-on-github a {
  color: #999;
}

.edit-on-github:hover,
.edit-on-github a:hover {
  color: #563d7c;
}

.edit-on-github .btn-label {
  display: block;
  font-size: 12px;
}

#os_install_select,
#debian_version_select,
#redhat_version_select,
#generic_install_method_select {
  width: 20em;
  max-width: 100%;
}


.site-section-showoff {
  text-align: center;
}

.site-section-showoff .eyecatcher {
  color: #9084BE;

  &:hover, &:focus {
    .glyphicon,
    .title {
      color: #AD8CD0;
    }
  }
}

.site-section-showoff .glyphicon {
  display: block;
  font-size: 1000%;
}

.site-section-showoff .title {
  display: block;
  font-size: 1.7em;
  font-weight: bold;
  margin: 0.5em 0 0.5em 0;
}

.site-section-showoff p {
  font-size: small;
}

.site-section-showoff .btn {
  margin-bottom: 2em;
}

.site-section-showoff p,
.site-section-showoff .btn,
.site-section-showoff-aligned-action .btn {
  display: block;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  margin-top: 3em;
  text-align: center;

  .glyphicon {
    font-size: 5em;
  }
}


.icon-selection-row-container {
  // .integration-mode-selections's negative right margin
  // causes a horizontal scrollbar to appear on small viewport
  // sizes. We set overflow hidden to make sure that
  // scrollbar doesn't appear.
  overflow: hidden;
}

.icon-selection-row-intro,
.bs-docs-container p.icon-selection-row-intro {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
  color: #555;

  .lead {
    font-size: 200%;
    margin-bottom: 0.5em;
    line-height: 1.3;
  }

  &.icon-selection-row-intro-small .lead {
    font-size: 140%;
  }
}

.icon-selection-row-footer,
.bs-docs-container p.icon-selection-row-footer {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
  font-size: 90%;
  color: #888;
}

.icon-selection-row-items {
  text-align: center;
}

.icon-selection-row-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 0.5em;
  max-width: 200px;
}

.icon-selection-row-item-label {
  display: block;
  font-size: 1.5em;
  margin-top: 1em;
  line-height: 1.3;
}

.icon-selection-row-item-label-long {
  font-size: 1.2em;
}

.icon-selection-row-container-tabs .icon-selection-row-item {
  padding: 0.75em;
  border: solid 3px transparent;
}

.icon-selection-row-container-tabs .icon-selection-row-item.active,
.icon-selection-row-container-tabs a.icon-selection-row-item.active {
  border-radius: 0.5em;
  border-color: #C4B4D8;
  background: #F7EEFF;
}

.icon-selection-row-container-tab-content {
  display: none;
}

.icon-selection-row-container-tab-content.active {
  display: block;
}

.icon-selection-row-icon-disable, .icon-selection-row-icon-disable:hover, .icon-selection-row-icon-disable:focus {
  opacity: 0.4;
  cursor: default;
  color: inherit;
}

.info,
.note,
.warning {
  border: none;
  padding: 1.5em 1.5em 1.5em 64px;
  margin: 1.5em 0 1.5em 0;
}

.info > h3:first-child,
.note > h3:first-child,
.warning > h3:first-child,
.info > strong:first-child,
.note > strong:first-child,
.warning > strong:first-child {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.43;
}

.info > p:last-child,
.note > p:last-child,
.warning > p:last-child {
  margin-bottom: 0;
}

.info {
  background: #d5e9f6 url(../images/tab_info.gif) no-repeat left top;
}

.note {
  background: #fff9d8 url(../images/tab_note.gif) no-repeat left top;
}

.warning {
  background: #f9d9d8 url(../images/tab_red.gif) no-repeat left top;
}

.image-float-right {
  float: right;
  text-align: center;
  margin: 0 0 1em 1em;
}

.row-instruction {
  margin-bottom: 2em;
}

.list-links > li {
  line-height: 1.4;
  font-size: 90%;
}

.list-links > li + li {
  margin-top: 0.5em;
}

.front-page-link-header,
.bs-docs-container h3.front-page-link-header {
  margin-top: 1.5em;
}

.front-page-link-header .glyphicon {
  display: block;
  font-size: 2em;
  margin-bottom: 0.25em;
}

.front-page-link-header > a {
  color: black;

  &:hover {
    color: #9084BE;
  }
}

.table.table-condensed-width {
  width: auto;
}

#integration_mode_selector {
  margin: 2em 0;

  .nav li {
    text-align: center;
  }

  .nav .name {
    font-size: 150%;
    font-weight: bold;
  }

  .tab-pane {
    margin: 0;
    padding: 1em;
    border: solid 1px #ddd;
    border-top: none;
    font-size: 90%;
  }

  .tab-pane > p:first-child,
  .tab-pane > p.first {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .swiftype-container .st-default-search-input {
    margin-top: 9px;
    margin-right: 1em;
  }
}


.breadcrumb-container,
.bs-docs-container .breadcrumb-container {
  padding: 0.6em 1em;
  margin-bottom: 1.5em;
  border-color: rgb(230, 226, 249);
  border-radius: 6px;
  border-style: dashed;
  text-align: center;

  .breadcrumb-announcer {
    margin: 0;
    font-size: 0.9em;
    color: rgb(192, 179, 200);
  }

  .glyphicon {
    font-size: 2em;
    display: block;
    margin-bottom: 0.25em;
  }

  .icon {
    margin-bottom: 0.25em;
  }

  .icon > img {
    width: auto;
    height: 2em;
  }

  a small {
    color: inherit;
  }

  h2 {
    font-size: 1.2em;
    margin: 0.5em 0;
  }

  h3 {
    font-weight: normal;
    font-size: 1.1em;
    margin: 0.5em 0;
  }

  .back-to-previous {
    margin-bottom: 0;
  }
}

.breadcrumb-container.breadcrumb-container-main {
  background: rgb(252, 248, 253);

  .glyphicon {
    font-size: 2.5em;
  }
}


.btn-copy {
  font-size: 0.8em;
  padding: 0.5em 2em;
  position: absolute;
  top: 0;
  right: 0;
  color: #bbb;
  background-color: #2A4252;
  border: none;
  border-left: solid 1px #666;
  border-bottom: solid 1px #666;
  border-radius: 0 0 0 4px;
}

.btn-copy:hover {
  color: #eee;
  background-color: #445;
}

.btn-copy:focus {
  outline: 0 !important;
  color: inherit;
}

.btn-copy-spacer {
  display: inline-block;
  float: right;
  font-size: 0.8em;
  margin: -9px -14px 3px 3px;
  padding: 0.5em 2em;
  visibility: hidden;
}
