.highlight .s2,
.highlight .s1,
.highlight .sr,
.highlight .s,
.highlight .sx {
  color: #fff0a6;;
}

.highlight .nb {
  font-weight: bold;
}

.highlight .p,
.highlight .o {
  color: #4df4ff;
}

.highlight .si {
  color: #4df4ff;
  font-weight: bold;
}

.highlight .nv {
  color: #a8e1fe;
  font-weight: bold;
}

.highlight .nf,
.highlight .na {
  color: #a8e1fe;
}

.highlight .ss,
.highlight .mi,
.highlight .m {
  color: #f696db;
  font-weight: bold;
}

.highlight .c1,
.highlight .c {
  color: #8BA7BA;
  font-style: italic;
}

.highlight .no,
.highlight .nc,
.highlight .nn {
  color: #b2fd6d;
  font-weight: bold;
}

.highlight .kp,
.highlight .kn,
.highlight .nl {
  color: #ffb000;
  font-weight: bold;
}

.highlight .k {
  color: #f6dd62;
  font-weight: bold;
}

.highlight .err {
  color: #fefeec;
  background-color: #cc0000;
}
