---
section: deploy_walkthrough
subsection: deploy_app
---
<%
if edition_type == :oss
  passenger_title = "Passenger (open source)"
else
  passenger_title = "Passenger Enterprise"
end
@page_title = "Deploying a #{language_name} app on #{infrastructure_name_with_determiner} production server with #{passenger_title} in #{integration_mode_name} mode"
content_for(:sidebar) { render_partial("_toc.html", locals: locals) }
%>

<h1>Deploying a <%= language_name %> app on <%= infrastructure_name_with_determiner %> production server<br>
<small>with <%= passenger_title %> in <%= integration_mode_name %> mode</h1>

TODO
