---
title: Deploying to production
section: deploy_walkthrough
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Deploy to production</h1>
      <p>Learn how to setup Passenger in a production environment.</p>
    </div>
  </div>
<% end %>

_Looking to deploy on Heroku? Read the [Heroku deployment instructions](#heroku)._

## Choose an integration mode

When you want to deploy Passenger to production, you may want to use Passenger together with a web server like Nginx or Apache. For this purpose. Passenger provides a number of *integration modes*. Each mode has its own documentation, covering *installation*, *usage*, *troubleshooting* and more.

<div id="integration_mode_selector" role="tabpanel">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#nginx" aria-controls="nginx" role="tab" data-toggle="tab"><span class="name">Nginx</span><br>integration mode</a></li>
    <li role="presentation"><a href="#apache" aria-controls="apache" role="tab" data-toggle="tab"><span class="name">Apache</span><br> integration mode</a></li>
    <li role="presentation"><a href="#standalone" aria-controls="standalone" role="tab" data-toggle="tab"><span class="name">Standalone</span><br>mode</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="nginx">
      <img src="<%= url_for '/images/nginx.png' %>" alt="Nginx" width="250" class="image-float-right">
      <p>
        Passenger integrates directly into <a href="http://nginx.org/">Nginx</a> as an Nginx module. You operate Passenger mostly through Nginx and through Nginx configuration files.
      </p>
      <p>
        The Nginx integration mode is, along with the Standalone mode, highly optimized for performance.
      </p>
      <p>
        <a href="https://www.phusionpassenger.com/documentation/Users%20guide%20Nginx.html" class="btn btn-primary">Read manual for Nginx mode &raquo;</a>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="apache">
      <img src="<%= url_for '/images/apache.png' %>" alt="Apache" width="96" class="image-float-right">
      <p class="first">
        Passenger integrates directly into <a href="http://httpd.apache.org">Apache</a> as an Apache module. You operate Passenger mostly through Apache and through Apache configuration files.
      </p>
      <p>
        <a href="https://www.phusionpassenger.com/documentation/Users%20guide%20Apache.html" class="btn btn-primary">Read manual for Apache mode &raquo;</a>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="standalone">
      <img src="<%= url_for '/images/passenger.png' %>" alt="Standalone server" width="106" height="128" class="image-float-right">
      <p class="first">
        In this mode, Passenger operates as a fully-featured, secure standalone HTTP server. You do not need to have an existing web server like Apache or Nginx. This mode is ideal...
      </p>
      <ul>
        <li>...if you are not familiar with Apache or Nginx</li>
        <li>...when you want to quickly start up a server without editing configuration files (e.g. during development)</li>
        <li>...or when you want to decouple the web server from the application server, by setting up reverse proxies.</li>
      </ul>
      <p>Along with the Nginx mode, the Standalone mode is highly optimized for performance.</p>
      <p>
        <a href="https://www.phusionpassenger.com/documentation/Users%20guide%20Standalone.html" class="btn btn-primary">Read manual for Standalone mode &raquo;</a>
      </p>
    </div>
  </div>
</div>

## Heroku

<img src="<%= url_for '/images/heroku.png' %>" width="96" height="96" alt=
"Heroku" class="image-float-right" style="border-radius: 8px">

Looking to deploy to Heroku? The way to use Passenger on Heroku is through [the Standalone mode](https://www.phusionpassenger.com/documentation/Users%20guide%20Standalone.html). Invoke <code>passenger start</code> in your Procfile as web server.

Please take a look at our [Heroku demo for Ruby](https://github.com/phusion/passenger-ruby-heroku-demo) for an example.

## Troubleshooting

When you run Passenger in production, there are times when you can run into trouble. If that happens, please refer to one of the troubleshooting guides:

 * [**Nginx** mode troubleshooting](https://www.phusionpassenger.com/documentation/Users%20guide%20Nginx.html#troubleshooting)
 * [**Apache** mode troubleshooting](https://www.phusionpassenger.com/documentation/Users%20guide%20Apache.html#troubleshooting)
 * [**Standalone** mode troubleshooting](https://www.phusionpassenger.com/documentation/Users%20guide%20Standalone.html#troubleshooting)

## Where to get support

Need support? Please refer to our [support page](https://www.phusionpassenger.com/support).
