---
title: Deploying to production
section: deploy_walkthrough
comments: false
skip_search: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Deploy to production</h1>
      <p>Learn how easy it is to setup a server and how to deploy your app to production. No worries, we walk you through from the beginning to the end.</p>
    </div>
  </div>
<% end %>

<%= render_partial("/shared/ask_lang.html", locals: { dest: ":lang:/", force_choice: true }) %>
