---
section: deploy_walkthrough
subsection: install_language_runtime
---
<% content_for(:sidebar) { render_partial("_toc", locals: locals) } %>

<!-- See install_language_runtime/_*.md for the main content file. -->
<%= render_partial("install_language_runtime/#{language_type}", locals: locals) %>

<% spec = deployment_walkthrough_next_step_after_install_language_runtime(locals) %>
<a href="<%= spec[:url] %>" class="btn btn-primary btn-lg">Continue: <%= spec[:title] %> &raquo;</a>
