---
section: deploy_walkthrough
subsection: integration_mode
---
<%
@page_title = "Pick an integration mode - #{deployment_walkthrough_page_title(locals)}"
content_for(:sidebar) { render_partial("_toc.html", locals: locals) }
%>

<h1>Pick an integration mode</h1>
<p>
  Passenger in <em>standalone</em> mode is highly optimized for performance and great for development or detailed control in production environments. The <a href="<%= url_for "/walkthroughs/start/#{language_type}.html" %>">quickstart</a> and the <a href="<%= url_for "/walkthroughs/basics/#{language_type}/index.html" %>">basics</a> walkthroughs use this mode.
</p>
<p>
  If you plan on hosting multiple applications, or if you are already familiar with the <a href="http://nginx.org/">Nginx</a> or <a href="http://httpd.apache.org">Apache</a> webserver, it is easier to use one of those modes. This allows you configure and run Passenger through the familiar webserver config and control mechanisms.
</p>
<div class="note">If you need Websockets, be aware of <a href="https://github.com/phusion/passenger/issues/1202">issues with Apache</a>.</div>

<%= render_partial("/shared/ask_intmode", locals: { dest: ":intmode:/open_source_vs_enterprise.html", force_choice: true }) %>
