---
section: deploy_walkthrough
subsection: open_source_vs_enterprise
---
<%
@page_title = "Open source vs Enterprise - #{deployment_walkthrough_page_title(locals)}"
content_for(:sidebar) { render_partial("_toc", locals: locals) }
%>

<h1>Open source vs Enterprise</h1>

<p>
  Are you using Passenger open source, or are you using Passenger Enterprise? We need to know this because the rest of this tutorial depends on it.
</p>

<%= render_partial("/shared/ask_edition", locals: {
  dest: ":edition:/" + deployment_walkthrough_next_html_after_edition(locals),
  force_choice: true })
%>

<h3>More information</h3>

<p>
  Passenger is available in an open source edition, which you can get at no cost. In the <a href="<%= url_for "/walkthroughs/start/#{language_type}.html" %>">quickstart</a> and the <a href="<%= url_for "/walkthroughs/basics/#{language_type}/index.html" %>">basics tutorial</a>, you have worked with the open source edition.
</p>

<p>
  Passenger is also available in a paid <a href="https://www.phusionpassenger.com/enterprise">Enterprise edition</a> (named <a href="https://www.phusionpassenger.com/enterprise">Passenger Enterprise</a>) that has more features than the open source edition. It also comes with basic support. We (Phusion, the company who made Passenger) make our living by selling Passenger Enterprise licenses. Open source development is made possible by profits from Passenger Enterprise.
</p>

<p>
  While the paid version is the most feature-complete, the open source edition is very good as well and stands on its own. We would very much appreciate it if you support us by buying the Enterprise edition, but buying is completely optional.
</p>
<p>
  You should know that we put all our <strong>heart and soul</strong> into making both the open source and the Enterprise version high-quality products that we can be proud of.
</p>

