<h1>Administration, debugging and troubleshooting</h1>
<%= render_partial('/shared/current_selection') %>

<div class="list-of-articles row">
  <div class="col-md-6">
    <h3 class="visible-sm visible-xs">Administration tasks</h3>

    <ul class="list-unstyled list-links">
      <li><a href="overall_status_report.html">Viewing overall server status report: <code>passenger-status</code></a></li>
      <li><a href="restart_app.html">Restarting applications</a></li>
      <li><a href="log_file.html">Log file</a></li>
      <li><a href="log_rotation.html">Log rotation</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3 class="visible-sm visible-xs">Troubleshooting and debugging</h3>

    <ul class="list-unstyled list-links">
      <li><a href="troubleshooting/">General troubleshooting and common problems</a></li>
      <li><a href="memory_leaks.html">Dealing with memory leaks</a></li>
      <li><a href="debugging_console/">Debugging console</a></li>
      <li><a href="request_individual_processes.html">Sending HTTP requests to individual application processes</a></li>
      <li><a href="mac_keychain_popups.html">macOS Keychain popups</a></li>
    </ul>
  </div>
</div>
