<h3 id="<%= id_prefix %>non_standard_lib_locations">Some of the dependent libraries are installed in non-standard locations. How do I allow the compiler to find them?</h3>
<p>
  TODO: document this
</p>

<h3 id="<%= id_prefix %>additional_compiler_flags">How do I pass additional flags to the compiler?</h3>
<p>
  TODO: document this
</p>
