---
section: config
---
<%
@page_title = "Essential configuration - #{integration_mode_name}"
content_for(:sidebar) do
  render_partial("../sidebar.html", locals: locals.merge(
    available_integration_modes: [INTEGRATION_MODE_APACHE, INTEGRATION_MODE_NGINX]
  ))
end
%>

<h1>Essential configuration<br>
<small>for Passenger <%= integration_mode_name_as_passenger_suffix %></small></h1>

<%= render_partial("#{integration_mode_type}.md", locals: locals) %>
