---
title: How Passenger autodetects applications
advanced_guides: true
breadcrumb_layered: true
---

<%
  locals = locals.merge(LANG_RUBY)
  locals = locals.merge(INTEGRATION_MODE_STANDALONE)
  integration_mode_type = locals[:integration_mode_type]
%>

<h1>How Passenger Standalone autodetects applications</h1>

<%= render_partial("../../../shared/_app_autodetection", locals: locals) %>
