# Installation

Installing Passenger for development is easy. We provide OS-specific installation packages to make your life easy.

<%= render_partial("../shared/install.html") %>

## Installation in production

Installation in production is a bit different. We will cover that later in the <a href="../../deploy/ruby/">deployment tutorial</a>.

## Next step: The 'Passenger' command

<a class="dark-button" href="/tutorials/the_passenger_command/ruby/">Continue</a>
