---
title: The beginning
section: intro
subsection: beginning
sidebar: _toc.html
---
# The beginning

In this gentle walkthrough you will learn what Passenger is and how it fits in the stack. You will also learn about the basic features and how Passenger helps you during development. When you are done, you will have a solid understanding that allows you to get the most out of Passenger. :-)

Never used Passenger before? You should read [the 5 minute quickstart](../../start/ruby.html) first.

Click on the button below to start this walkthrough.

<a href="conceptual_overview.html" class="btn btn-primary btn-lg">Conceptual overview &raquo;</a>
