---
title: Administration
section: admin
---
<%
content_for(:sidebar) do
  %Q{
    <a href="#{url_for "/index.html"}" class="back-to-previous">&laquo; Back to Passenger Library front page</a>
  }
end
%>

# Administration

<ul class="list-unstyled list-links">
  <li><a href="troubleshooting.html">Troubleshooting</a></li>
  <li><a href="admin_tools.html">Administration tools</a></li>
  <li><a href="log_rotation.html">Log rotation</a></li>
  <li><a href="cloud_licensing_configuration.html">Passenger Enterprise cloud licensing configuration</a></li>
</ul>
