---
title: Administration and troubleshooting
section: install
comments: false
skip_search: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Administration and troubleshooting</h1>
      <p>Golden tips for troubleshooting problematic installs or applications; making the best of administrative tools and where to find more support resources.</p>
    </div>
  </div>
<% end %>

<%= render_partial("/shared/ask_intmode", locals: { dest: ":intmode:/" }) %>
