---
title: Administration
section: admin
---
<%
content_for(:sidebar) do
  %Q{
    <a href="#{url_for "/index.html"}" class="back-to-previous">&laquo; Back to Passenger Library front page</a>
  }
end
%>

# Administration

TODO