.algolia-autocomplete {
  position: absolute !important;
  right: 0;
  z-index: 9999;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  margin-top: 20px;
  color: #35373B;
}

.algolia-autocomplete .ds-dropdown-menu {
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
  z-index: 9999;
  border: 1px solid #DDE3EC;
  padding: 0 10px 10px;
  background: #fff;
  font-family: 'Inter UI', 'Helvetica', sans-serif;
  opacity: 1 !important;
}

.algolia-autocomplete .ds-dropdown-menu > div {
  box-shadow: none;
  border: none !important;
  line-height: 18px;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: #4EA0FF;
}

.algolia-docsearch-suggestion--subcategory-column-text {
  font-weight: 600;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title span {
  color: #35373B;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: #a7ccfd54;
}

.algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight {
  box-shadow: inset 0 -2px 0 0 #4EA0FF;
}

@media(max-width: 600px) {
  .algolia-autocomplete .ds-dropdown-menu > div {
    box-shadow: none;
    border: none !important;
    width: 95vw !important;
    line-height: 18px;
  }

  .algolia-autocomplete.algolia-autocomplete-right .ds-dropdown-menu {
    left: 0 !important;
  }

  .algolia-docsearch-suggestion--wrapper {
    margin-top: 10px;
  }
}
