@mixin dark-mode() {
  background: #24252A;

  img {
    filter: saturate(.8);
  }

  .light-button {
    background: #1E2022;
    color: #E4E4E4;
    border: 1px solid #3C3F45;

    &:hover {
      border: 1px solid #BABECD;
    }
  }

  .dropdown select {
    background-color: #CBCBCB;
  }

  #header {
    background: #1E2022;
    border-bottom: 1px solid #3C3F45;

    a {
      color: #E4E4E4;
    }

    img.logo.phusion {
      border-right: solid 1px #3C3F45;
    }

    input {
      border-left: 1px solid #3C3F45;
      background-color: #1E2022;
      color: #C6C6C6;

      &:focus {
        box-shadow: none;
      }
    }
  }

  #main-content {
    #current-selection {
      border-bottom: 1px solid #3C3F45;

      span {
        color: #C6C6C6;
      }
    }

    h1,
    h2,
    h3,
    h4 {
      color: #E4E4E4;
    }


    figcaption,
    li {
      color: #C6C6C6;
    }

    dl {
      dt,
      dd {
        color: #C6C6C6;
      }
    }

    .info,
    .warning,
    .note {
      background: #1e1f21;
      color: #C6C6C6;

      &::before {
        z-index: 0;
        background-position: -10px -4px;
        background-color: unset;
        border-radius: 3px 3px 0px 0px;
        border: 1px solid #3C3F45;
        margin-top: -48px;
      }
    }

    #yes-no-radio {
      label {
        span {
          color: #CBCBCB;
        }
      }
    }

    .radio-choices,
    .adv-radio-choices {
      label {
        background: #1c1d1e;
        border: 1px solid #343f52;
        color: #CBCBCB;

        h3 {
          color: #CBCBCB;
        }
      }

      input[type="radio"]:checked + label {
        background: #3F4B59;
        border: 1px solid #343f52;
        color: #000;

        h3 {
          color: #000;
        }
      }
    }

    .radio-choices {
      > div > div > input:not([data-label="Edition"]) + label > img {
        filter: invert(1) hue-rotate(180deg);
      }
    }

    [class$="radio-choices"] input[type="radio"]:checked + label {
      background: #3F4B59;
      color: #C6C6C6;
    }

    h2 {
      border-bottom: 1px solid #3C3F45;
    }

    .solo-h1 {
      border-bottom: 1px solid #3C3F45;
    }

    p {
      color: #C6C6C6;
    }

    .app_details_form {
      color: #C6C6C6;
    }

    .supported-logos {
      color: #E4E4E4;

      span {
        color: #C6C6C6;
      }
    }

    pre {
      background: #343f52;

      code {
        background: unset;
      }

      .copy-btn {
        background: #343f52;
      }
    }

    code {
      background: #343f52;
    }

    tbody {

      tr {
        color: #C6C6C6;
      }

      tr:nth-child(odd) {
        background: #33353c;
      }

      th,
      td {
        border: 1px solid #3C3F45;
      }
    }

    thead {
      tr {
        th,
        td {
          border: 1px solid #3C3F45;
        }

        background: #24252A;
        color: #C6C6C6;
      }
    }

    .list-of-articles {
      h3 {
        border-bottom: 1px solid #3C3F45;
      }
    }

    .back-button {
      border-top: 1px solid #3C3F45;
    }

    #breadcrumb {
      border-bottom: 1px solid #3C3F45;

      li {
        &::after {
          color: #C6C6C6;
        }
      }
    }
  }

  #left-nav-content {
    background: #24252A;

    ul {
      li {
        a {
          color: #C6C6C6;
        }

        .active {
          color: #4EA0FF;
        }
      }
    }
  }

  #right-content {
    .editlink {
      a {
        color: #C6C6C6;
      }
    }

    #new-item {
      .light-button {
        background: #1E2022;
        color: #E4E4E4;
      }

      .new-item-footer {
        color: #C6C6C6;

        p {
          color: #C6C6C6;
        }
      }

      .reason {
        textarea {
          border: none;

          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }

  .side-toc-container,
  #right-content-toc {
    p,
    ol,
    .light-button {
      color: #C6C6C6;
    }

    .light-button {
      background: #1E2022;
      font-weight: 500;
    }
  }

  .toc-container {
    color: #C6C6C6;
  }

  footer {
    border-top: 1px solid #3C3F45;

    .passenger-full {
      display: none;
    }

    .passenger-dm {
      display: inline-block;
    }

    li,
    p {
      color: #C6C6C6;
    }

    ul {
      img {
        filter: contrast(50%);
      }
    }
  }

  .algolia-autocomplete {
    .ds-dropdown-menu {
      border: 1px solid #3C3F45;
      background: #1E2022;
    }

    .algolia-docsearch-suggestion {
      background: #1E2022;
    }

    .algolia-docsearch-suggestion--title span {
      color: #C6C6C6;
    }

    .ds-dropdown-menu [class^=ds-dataset-] {
      background: #1E2022
    }

    .algolia-docsearch-suggestion--category-header {
      color: #C6C6C6;
    }

    .ds-dropdown-menu::before {
      background: #1E2022;
      border-color: #3C3F45;
    }
  }

  .heroku {
    filter: invert(1) hue-rotate(180deg);
  }

  .gls-guides {
    img {
      filter: invert(1) hue-rotate(180deg);
    }
  }
}

#screen-mode {
  display: flex;
  margin-left: 71px;
  margin-top: 20px;

  img {
    width: 18px;
    margin-top: 1px;

    &:first-of-type {
      margin-right: 54px;
    }
  }

  img:-moz-loading {
    visibility: hidden;
  }

  .switch {
    position: absolute;
    display: inline-block;
    width: 42px;
    height: 26px;
    margin: 0 6px;
    margin-left: 24px;

    @-moz-document url-prefix() {
      margin-top: -2px;
    }
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #4EA0FF;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
    background: #E4E4E4;
  }
}

.dark-mode {
  @include dark-mode();
}

@media (prefers-color-scheme: dark) {
  body{
    @include dark-mode();
  }
}

// #screen-mode img {
//   filter: saturate(0)
// }
