[data-integration_placeholder],
[data-language_placeholder] {
  text-transform: capitalize;
}
.dropdown select[style*='ownserver'] {
  text-indent: 0px;
}
.dropdown.edition,
.dropdown.platform {
  display:none;
}
.dropdown select option[disabled] {
  color: grey;
}
