footer {
  margin-top: 60px;
  padding: 40px 0 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgb(221, 227, 236);
  width: 100%;
  color: #35373B;
  text-align: center;
}

footer > div {
  max-width: 677px;
  padding: 0 20px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 30px 0 20px;
}

footer ul li {
  display: flex;
  align-items: center;
  line-height: 24px;
  margin: 0 20px;
}

footer ul img {
  margin-left: 10px;
  width: 30px;
}

footer p {
  font-size: 13px;
  color: #7A7A7A;
  line-height: 22px;
}

footer a {
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  color: #4EA0FF;
}

footer > div div p:first-of-type {
  padding: 10px 0;
  border-bottom: 1px solid #EFEFEF;
}

@media(max-width: 620px) {
  footer ul {
    flex-direction: column;
    align-items: center;
  }

  footer ul li {
    margin: 10px 0;
  }
}
