#fuse-panel {
  display: flex;
  flex-direction: column;
}

#fuse-panel .fuse {
  margin-top: 10px;
  max-width: 260px;
  transform: scaleX(-1);
}

#fuse-panel a {
  width: 110px;
  margin-top: 14px;
  align-self: center;
}

#fuse-panel img:last-of-type {
  margin-top: 30px;
}
