#nav-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: #fff;
  cursor: pointer;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px, rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  background-image: url('../images/menulines.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

@media(min-width: 700px) {
  #nav-btn {
    display: none;
  }
}

// classes for the nav button script
.open-menu {
  background-image: url('../images/menulines.svg') !important;
  background-size: 30px !important;
}

.close-menu {
  background-image: url('../images/close.svg') !important;
  background-size: 20px !important;
}
