#nav-btn {
  position: fixed;
  bottom: 50px;
  right: 20px;
  border: none;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background: #fff;
  cursor: pointer;
  z-index: 500;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 0px, rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

#nav-btn img {
  width: 14px;
  margin-bottom: 20px;
  margin-right: 30px;
  background: #fff;
}

@media(min-width: 940px) {
  #nav-btn {
    display: none;
  }
}
