#new-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  .fuse {
    margin-top: 5px;
    margin-bottom: -14px;

    > img {
      max-width: 120px;
      transform: scaleX(-1);
    }
  }

  .gls {
    margin-bottom: -14px;

    > img {
      max-width: 150px;
    }
  }

  .stream {
    margin-top: -10px;
    margin-bottom: -14px;

    > img {
      max-width: 170px;
    }
  }

  .new-item-intro {
    font-size: 14px;
  }

  .new-item-footer {
    font-size: 12px;
  }

  .new-item-intro,
  .new-item-footer {
    max-width: 180px;
    text-align: center;
    line-height: 1.5;

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .new-item-footer + .new-item-footer {
    margin-block-start: 0;
  }

  .new-item-image {
    display: block;
  }

  .new-item-link {
    width: 110px;
    margin-top: 14px;
    align-self: center;
    font-size: 12px;
  }

  .smaller-font {
    font-size: 11px;
  }

  > hr {
    width: 155px;
    border: none;
    border-top: solid 1px #ccc;
    margin-top: 35px;
    margin-bottom: 0;
  }

  p {
    color: #35373B;
  }
}
