.references table {
  margin: 15px 0 20px;
}

.references h2 {
  border: none;
  margin-bottom: -30px;
}

.references h3 {
  margin-top: 40px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.references .note h3 {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}

.references h4 {
  margin-top: 30px;
  margin-bottom: 3px;
}

.references .table-value th {
  font-weight: 400;
}

.references .table-value tr:first-of-type th,
.references .table-value tr:first-of-type td {
  font-weight: 700;
}
