#right-content {
  margin-left: 16px;
  width: 292px;
}

@media(max-width: 1120px) {
  #right-content {
    display: none;
  }
}

.editlink {
  margin-top: 5px;
  margin-left: 65px;
  margin-bottom: 25px;
  font-size: 14px;

  a {
    margin-left: 25px;
    img {
      position: absolute;
      margin-left: -19px;
    }
    color: #35373B;
  }
}
