<h1 class="page-header">Guides</h1>
<p>Learn to use the awesome features in Phusion Passenger and about specific topics.</p>

<h2 id="basics">Basics</h2>
<ul>
  <li><a href="process_management.html">Process management</a></li>
  <li><a href="environment_variables.html">Environment variables</a></li>
  <li><a href="restarting.html">Application restarting</a></li>
  <li><a href="code_reloading.html">Application code reloading</a></li>
</ul>

<h2 id="optimizations">Optimizations</h2>
<ul>
  <li><a href="code_preloading.html">Code preloading: reducing memory usage and startup time</a> <span class="label label-ruby">Ruby only</span></li>
</ul>

<h2 id="security">Security</h2>
<ul>
  <li><a href="user_switching.html">User switching</a></li>
</ul>

<h2 id="ruby_support">Ruby support</h2>
<ul>
  <li><a href="bundler_integration.html">Bundler integration</a></li>
  <li><a href="rvm_integration.html">RVM integration</a></li>
  <li><a href="rbenv_integration.html">Rbenv integration</a></li>
  <li><a href="chruby_integration.html">Chruby integration</a></li>
  <li><a href="chruby_integration.html">Using multiple Ruby versions without a Ruby manager</a></li>
</ul>

<h2 id="nodejs_support">Node.js support</h2>
<ul>
  <li><a href="npm_integration.html">NPM integration</a></li>
</ul>
