---
title: Guides
section: guides
multisection: true
---
<section class="bs-docs-section">
  <%= render_partial "/guides/general/_index.md" %>
</section>

<section class="bs-docs-section">
  <%= render_partial "/guides/production/_index.md" %>
</section>

<section class="bs-docs-section">
  <%= render_partial "/guides/admin/_index.md" %>
</section>
