---
title: Guides
section: guides
---
<% content_for :sidebar do %>
  <li><a href="#basics">Basics</a></li>
  <li><a href="#optimizations">Optimizations</a></li>
  <li><a href="#security">Security</a></li>
  <li><a href="#ruby_support">Ruby support</a></li>
  <li><a href="#nodejs_support">Node.js support</a></li>
<% end %>
<%= render_partial "_index.html" %>
