<h3>How do I install Nginx with additional modules?</h3>
<p>
  You can <a href="<%= url_for "/install/install_as_nginx_module.html" %>">install Passenger as a normal Nginx module.</a>
</p>

<h3>The installer is interactive. How do I install in an automated, non-interactive manner?</h3>
<p>
  Please refer to <a href="<%= url_for "/install/noninteractive_install.html" %>#nginx-mode-or-apache-mode">Non-interactive, automatic, headless installs or upgrades</a>.
</p>
