<h3>Some of the dependent libraries are installed in non-standard locations. How do I allow the compiler to find them?</h3>
<p>
  TODO: document this
</p>

<h3>How do I pass additional flags to the compiler?</h3>
<p>
  TODO: document this
</p>
