<h1 class="page-header">Introduction</h1>
<p class="lead">Learn all about the basics through this short, easy-to-follow introduction. Get something up and running in only 5 minutes.</p>
<ul>
  <li><%= link_to "Ruby tutorial", "/intro/ruby.html" %></li>
  <li><%= link_to "Node.js tutorial", "/intro/nodejs.html" %></li>
  <li><%= link_to "Meteor tutorial", "/intro/meteor.html" %></li>
  <li><%= link_to "Phusion Passenger versus other software", "/intro/versus.html" %></li>
</ul>
