<h1 class="page-header">Introduction</h1>
<p class="lead">Learn all about the basics through this short, easy-to-follow introduction. Get something up and running in only 5 minutes.</p>

## For Ruby developers

 1. [Understanding Phusion Passenger](<%= url_for "/intro/ruby/understanding_passenger.html" %>)
    * The big picture
    * Versus other software
      - Versus Unicorn and Puma
      - Versus Apache and Nginx
      - Versus Capistrano
      - Versus Docker
    * What Passenger doesn't do
 2. [Get it going]()
 3. [Working with multiple processes]()
 4. [Next steps]()

## For Node.js developers

 1. Understanding Phusion Passenger
    * The big picture
    * Versus other software
      - Versus Apache and Nginx
      - Versus Forever and PM2
      - Versus the Cluster module
    * How does it work?
    * What Passenger doesn't do
 2. [Get it going]()
 3. [Working with multiple processes]()
 4. [Next steps]()
