---
section: install
skip_search: true
---
<%
@page_title = "Installing Passenger: select integration mode and edition"
content_for(:sidebar) { render_partial("../sidebar", locals: locals) }
%>

<h1>Installing Passenger<br>
<small>Select integration mode and edition</small></h1>

<%= render_partial("/shared/ask_intmode_edition", locals: { dest: "../:intmode:/install/:edition:/" }) %>
