<pre class="highlight">
<span class="prompt">$ </span><%= passenger_command_prefix(locals) %>passenger start
<span class="output">======= Phusion Passenger Standalone web server started =======
PID file: /Users/phusion/myapp/passenger.3000.pid   <span class="label label-info">1</span>
Log file: /Users/phusion/myapp/passenger.3000.log        <span class="label label-info">2</span>
Environment: development                     <span class="label label-info">3</span>
Accessible via: http://0.0.0.0:3000/         <span class="label label-info">4</span>

You can stop Phusion Passenger Standalone by pressing Ctrl-C.
===============================================================
</span></pre>
