# Upgrading from open source to Passenger Enterprise
<%= render_partial('/shared/current_selection', locals: { disabled_selections: [:lang] }) %>

Passenger comes in two variants: an open source version, as well as an [Enterprise version](https://www.phusionpassenger.com/enterprise) which introduces a myriad of useful features that can improve stability and performance and efficiency.

Customers who have bought Passenger Enterprise can upgrade their open source installation to Enterprise as follows:

 1. [Uninstall the open source Passenger](<%= url_for "/advanced_guides/install_and_upgrade/standalone/uninstall.html" %>).
 2. Install Passenger Enterprise by following one of the [deployment tutorials](<%= url_for "/tutorials/deploy_to_production/index.html" %>) or [installation guides](.). When following a deployment tutorial, be sure to select "I use am using the Enterprise edition" during the "Open source vs Enterprise" step.

The uninstallation is necessary because the Enterprise Ruby gem has a different gem name ('passenger-enterprise-server' instead of 'passenger'), but the same administration command names (e.g. `passenger-status`). Uninstalling the open source version avoids any conflicts.

<div class="back-button">
  <a class="dark-button" href="<%= url_for "/advanced_guides/install_and_upgrade/index.html" %>">Back</a>
</div>
