---
title: Deploying a Node.js app
section: deploy_walkthrough
comments: false
deploy_walkthrough:
- :launch_server
- :installations
- :deploying_your_app
- :deploy_updates
---

<h1>Deploying a Node.js app on AWS production server</h1>
<%= render_partial('/shared/current_selection') %>

<% locals = {language_name: 'Node.js',language_type: :nodejs, integration_mode_type: :standalone, edition_type: :oss, infrastructure_type: :aws} %>

<%= render_partial("/walkthroughs/deploy/deploy_app/intro", locals: locals) %>
<%= render_partial("/tutorials/deploy_to_production/shared/os_selector") %>
<%= render_partial("/walkthroughs/deploy/deploy_app/standalone", locals: locals) %>

<div id="next-step">
  <h2>Next step: Deploying updates</h2>
  <a class="dark-button" href="/tutorials/deploy_to_production/deploy_updates/">Continue</a>
</div>
