<h1 class="solo-h1">Passenger open source vs Passenger Enterprise</h1>

<p>
  Passenger is available in an open source edition, which you can get at no cost. In the <a href="<%= url_for "/tutorials/what_is_passenger/index.html" %>">tutorial section</a>, you have worked with the open source edition.
</p>

<p>
  Passenger is also available in a paid <a href="https://www.phusionpassenger.com/enterprise">Enterprise edition</a> (named <a href="https://www.phusionpassenger.com/enterprise">Passenger Enterprise</a>) that has more features than the open source edition. It also comes with basic support. We (Phusion, the company who made Passenger) make our living by selling Passenger Enterprise licenses. Open source development is made possible by profits from Passenger Enterprise.
</p>

<p>
  While the paid version is the most feature-complete, the open source edition is very good as well and stands on its own. We would very much appreciate it if you support us by buying the Enterprise edition, but buying is completely optional.
</p>
<p>
  You should know that we put all our <strong>heart and soul</strong> into making both the open source and the Enterprise version high-quality products that we can be proud of.
</p>

<p><a href="https://www.phusionpassenger.com/enterprise" class="btn btn-lg btn-primary">Learn more about Passenger Enterprise &raquo;</a></p>

<div class="back-button">
  <a class="dark-button" href="<%= url_for "/advanced_guides/in_depth/index.html" %>">Back</a>
</div>
