---
title: Deploying to Production - Deploying an app on Heroku
section: deploy_walkthrough
comments: false
deploy_walkthrough:
- :launch_server
- :installations
- :deploying_your_app
- :deploy_updates
disabled_langs:
- :python
- :node
- :meteor
---
# Deploying your Ruby app on a Heroku production server
<%= render_partial('/shared/current_selection') %>

<h3>Add "<%= render_partial('/shared/gem') %>" to your gem bundle</h3>

Open your Gemfile. Remove lines that look like one of these:

~~~ruby
gem "unicorn"
gem "thin"
gem "puma"
~~~

Make sure the following line exists:

<pre class="highlight">gem "<%= render_partial('/shared/gem') %>"</pre>

When you are done, install your gem bundle with:

<pre class="highlight"><span class="prompt">$ </span>bundle install</pre>

### Updating your Procfile

Open your app's Procfile, or create one if you don't already have one. Remove lines that look like one of these:

    web: bundle exec ruby web.rb -p $PORT
    web: bundle exec unicorn -p $PORT
    web: bundle exec puma -p $PORT
    web: bundle exec thin start -p $PORT

Insert:

    web: bundle exec passenger start -p $PORT --max-pool-size 3

### Pushing the code to Heroku

Commit and deploy to Heroku:

<pre class="highlight"><span class="prompt">$ </span>git commit -a -m "Switch to Passenger"
<span class="prompt">$ </span>git push heroku master</pre>

<div id="next-step">
  <h2>Next step: Deploying updates</h2>
  <a class="dark-button" href="<%= url_for "/tutorials/deploy_to_production/deploy_updates/index.html" %>">Continue</a>
</div>
