---
title: Miscellaneous
section: misc
---
<%
content_for(:sidebar) do
  %Q{
    <div class="breadcrumb-container breadcrumb-container-sidebar" data-swiftype-index="false">
      <p class="breadcrumb-announcer">Current section:</p>

      <h2>
        <a href="#{url_for "/misc/index.html"}">
          <span class="glyphicon glyphicon-cog"></span>
          Miscellaneous
        </a>
      </h2>

      <p class="back-to-previous">
        <a href="#{url_for "/index.html"}">&laquo; Back to Passenger Library front page</a>
      </p>
    </div>
  }
end
%>

# Miscellaneous

<div class="row">
  <div class="col-md-8">
    <ul class="list-unstyled list-links">
      <li><a href="processes.html">About processes</a></li>
      <li><a href="environment_variables.html">About environment variables</a></li>
      <li><a href="hooks.html">Passenger hooks</a></li>
      <li><a href="out_of_band_work.html">Out-of-band work and out-of-band garbage collection</a></li>
      <li><a href="tuning_sse_and_websockets.html">Tuning for Server Sent Events and WebSockets</a>
    </ul>
  </div>
</div>