---
title: Generic Language Support
comments: false
advanced_guides: true
disabled_langs:
- :python
- :node
- :meteor
- :ruby

disabled_integrations:
- :nginx
- :apache
- :standalone
---

<h1 class="solo-h1">Generic Language Support</h1>
<p><strong>Passenger 6: Generic Language Support</strong> is our answer to a world increasingly polyglot.</p>
<div class="info">Your selected language won't be matter for these articles because Passenger 6 supports <strong>all</strong> languages. See how you can use Passenger with your favorite language by looking at some of our example guides.</div>

<div class="list-of-articles row">
  <div class="col-md-6">
    <h3>Language tutorials</h3>
    <p>For most of your apps, and a sufficient level of DevOps experience, our <a href="">generic guide</a> will work just fine. But just in case, we wrote tutorials for Rust, Go, Java and Elixir.</p>

    <ul class="gls-guides">
      <li><a href="rust.html"><img src="<%= url_for "/images/gls/rust.png" %>" alt="Rust" />Rust</a></li>
      <li><a href="go.html"><img src="<%= url_for "/images/gls/go.png" %>" alt="Go" />Go</a></li>
      <li><a href="java.html"><img src="<%= url_for "/images/gls/java.png" %>" alt="Java" />Java</a></li>
      <li><a href="elixir.html"><img src="<%= url_for "/images/gls/elixir.png" %>" alt="Elixir" />Elixir</a></li>
    </ul>
  </div>
</div>
