<a href="<%= url_for "/index.html" %>#walkthroughs" class="back-to-previous">&laquo; Back to all walkthroughs</a>

<h2>Deployment<br>
<small>for Ruby developers</small><br>
<% if current_page.data.infrastructure == "ownserver" %>
<small>on a Linux/Unix server</small>
<% end %>
</h2>

<ul class="nav nav-stacked">
  <% navbar_subsection :infrastructure do %>
    <a href="<%= url_for "/walkthroughs/deploy/ruby/index.html" %>">1 Select infrastructure</a>
  <% end %>
  <% navbar_subsection :intro do %>
    <a href="<%= url_for "/walkthroughs/deploy/ruby/ownserver/index.html" %>">2 Introduction</a>
  <% end %>
  <% navbar_subsection :integration_mode do %>
    <a href="<%= url_for "/walkthroughs/deploy/ruby/ownserver/integration_mode.html" %>">3 Integration mode</a>
  <% end %>
</ul>
