<div id="feedback" class="hide">
  <p>Was this article helpful?</p>
  <p class="buttons">
    <span class="yes">
      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-HD-Copy-8" transform="translate(-1077.000000, -438.000000)" fill-rule="nonzero">
                <g id="yes" transform="translate(1077.000000, 438.000000)">
                    <circle id="Oval" fill="#71C876" cx="8" cy="8" r="8"></circle>
                    <path d="M7.29850064,11.5546785 C7.54232115,11.7016936 7.85310151,11.6743078 8.06750025,11.4869144 L11.1721768,9.15757059 C11.4529141,8.96054656 11.2718396,8.55797503 11.2461941,8.28495181 C11.2300156,8.11271456 11.1717021,7.93083554 11.095013,7.7462303 C11.0048853,7.52927598 10.7604601,7.52261597 10.6581388,7.30935616 C10.5621816,7.10936031 10.8334673,6.4679953 10.6797989,6.29887013 C10.5038012,6.10516966 10.1119619,6.12429784 9.95609434,5.90228953 C9.83880617,5.7352314 9.4710599,5.67887632 9.38084843,5.48487409 C9.28530402,5.27940322 9.04697834,4.5729322 8.30685328,5.12146439 C7.92839384,5.40195373 7.88185237,5.3961752 7.31483972,5.98394065 L6.24046792,7.05831245 C5.64899781,6.26538094 5.1562435,5.77262663 4.76220499,5.58004952 C4.23201996,5.32093399 4.08619847,5.32526823 3.72222992,5.46109085 C3.37297048,5.59142446 3.14349396,5.81386129 3.29198048,5.8913403 C3.68766032,6.09780268 3.9986108,6.40875316 4.22483192,6.82419174 C4.27000978,6.91683317 5.14116854,8.15761183 4.59487653,8.85105442 C4.59487653,8.85105442 4.59487653,8.85105442 4.59487653,8.85105442 L4.59487653,8.85105442 C4.34334777,9.17033559 4.39827196,9.63306848 4.71755313,9.88459724 C4.73567067,9.89887018 4.75444915,9.91228355 4.77382639,9.92479293 L7.29850064,11.5546785 Z" id="Combined-Shape-path" fill="#FFFFFF" transform="translate(7.286650, 8.282895) rotate(-315.000000) translate(-7.286650, -8.282895) "></path>
                </g>
            </g>
        </g>
      </svg>
      Yes
    </span>
    <span class="no">
      <svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-HD-Copy-8" transform="translate(-1131.000000, -438.000000)" fill-rule="nonzero">
                <g id="no" transform="translate(1131.000000, 438.000000)">
                    <circle id="Oval" fill="#B53531" cx="8" cy="8" r="8"></circle>
                    <path d="M8.61076429,11.0075023 C8.8545848,11.1545174 9.16536516,11.1271316 9.3797639,10.9397381 L12.4844405,8.61039436 C12.7651778,8.41337033 12.5841032,8.01079881 12.5584578,7.73777558 C12.5422793,7.56553833 12.4839658,7.38365932 12.4072766,7.19905408 C12.317149,6.98209976 11.9081539,7.19841029 11.8058327,6.98515048 C11.7098755,6.78515463 12.2815664,6.25336936 11.8455965,5.81739944 C11.4096266,5.38142951 10.7390436,5.63461177 10.6488321,5.44060954 C10.5532877,5.23513867 10.2559753,4.14663589 9.51585028,4.69516809 C9.13739084,4.97565743 9.19411602,4.84899898 8.62710337,5.43676443 L7.55273157,6.51113622 C6.96126146,5.71820471 6.46850715,5.2254504 6.07446864,5.0328733 C5.54428361,4.77375776 5.39846213,4.77809201 5.03449358,4.91391463 C4.68523413,5.04424823 4.45575761,5.26668506 4.60424413,5.34416407 C4.99992397,5.55062645 5.31087445,5.86157693 5.53709557,6.27701551 C5.58227343,6.36965694 6.48451717,7.57935062 5.90714018,8.30387819 C5.90714018,8.30387819 5.90714018,8.30387819 5.90714018,8.30387819 L5.90714018,8.30387819 C5.65509473,8.62016007 5.70716864,9.0808804 6.02345052,9.33292585 C6.04246615,9.34807943 6.06222473,9.36227649 6.08265283,9.37546428 L8.61076429,11.0075023 Z" id="Combined-Shape-path" fill="#FFFFFF" transform="translate(8.598914, 7.821934) scale(-1, -1) rotate(-315.000000) translate(-8.598914, -7.821934) "></path>
                </g>
            </g>
        </g>
      </svg>
      No
    </span>
  </p>
  <p class="reason hide">
    <textarea rows="3" placeholder=""></textarea>
    <input type="button" value="send" />
  </p>
  <p class="thank-you hide">Thanks for your feedback!</p>
</div>