<div id="fuse-panel">
  <img src="<%= url_for "/images/FP_logo.svg" %>" alt="Fuse Panel logo"/>
  <img class="fuse" src="<%= url_for "/images/fuse_panel.png" %>" alt="Fuse Panel"/>
  <a class="light-button" href="https://www.phusionpassenger.com/fuse-panel">Try the beta</a>
  <img src="<%= url_for "/images/feedback_placeholder.svg" %>" alt="feedback"/>
</div>
