<div id="new-item">
  <img class="fuse" src="<%= url_for "/images/fuse.png" %>" alt="Passenger Enterprise"/>
  <a class="light-button" href="https://www.phusionpassenger.com/install">Try Enterprise</a>
  <img src="<%= url_for "/images/feedback_placeholder.svg" %>" alt="feedback"/>
</div>
