<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="info">
        <p>We've redesigned, updated, rerouted and regrouped the library for better discoverability and a better flow. You can visit the <a href="https://www.phusionpassenger.com/docs/tutorials/what_is_passenger/">new documentation here</a>.</p>
      </div>
    </div>
  </div>
</div>