<div id="right-content-toc">
  <div>
    <div class="editlink">
      <a href="<%=h current_page_github_url %>"><img src="<%= url_for "/images/edit.svg" %>" alt="edit">Edit page</a>
    </div>
  </div>

  <p>Table of contents</p>
  <ol id="table-of-contents" class="side-toc-container"></ol>
  <hr />
  <%= partial "/shared/feedback" %>
  <a href="#" class="light-button">Up</a>
</div>

<script>
  var headers = document.querySelectorAll('#main-content h2');
  var sideToc = document.querySelector('.side-toc-container');

  headers.forEach(function(h) {
    sideToc.insertAdjacentHTML('beforeend', '<li><a href="#' + h.id + '">' + h.innerText + '</a></li>');
  });
</script>
