<div id="yes-no-radio">
  <input name="yes-no" type="radio" id="yes" value="yes" checked><label for="yes"><span class="radio">Yes</span></label>
  <input name="yes-no" type="radio" id="no" value="no"><label for="no"><span class="radio">No</span></label>
</div>
<div id="yes-no-target">
  <%= render_partial(target, locals: locals) %>
</div>
