# Understanding Passenger

Phusion Passenger is an open source **web application server**. It handles HTTP requests, manages processes and resources, and enables administration, monitoring and problem diagnosis.

Passenger is very easy to use, makes deploying in production much easier and is scalable. If you aren't already familiar with the benefits, you can [learn more about them](https://www.phusionpassenger.com/#about).

Passenger supports [multiple programming languages](<%= url_for "/", :anchor => "intro_walkthrough" %>), of which <%= language_name %> is one.

<%= render_partial("../shared/conceptual_overview/#{language_type}_intro.md") %>

## How Passenger fits in the stack

<%= render_partial("../shared/conceptual_overview/#{language_type}_stack.md") %>

## Next step

<a href=".">&laquo; Back to table of contents</a>
