---
title: Deploying a Ruby app with Passenger to a Linux/Unix production server
section: deploy_walkthrough
subsection: intro
sidebar: /walkthroughs/deploy/ruby/toc.html
infrastructure: ownserver
---
# Deploying a Ruby app with Passenger to a Linux/Unix production server

<%= render_partial("/walkthroughs/deploy/shared/intro.md", locals: {
      language_type: :ruby, language_name: "Ruby", infrastructure: :ownserver }) %>

### Ready?

<a href="integration_mode.html" class="btn btn-large btn-primary">Get started &raquo;</a>
