---
title: Passenger and Docker
advanced_guides: true
---

<h1 class="solo-h1">Passenger and Docker</h1>

We provide Docker base images for running Ruby, Python, Node.js and Meteor apps on Passenger. Please visit [the passenger-docker website](https://github.com/phusion/passenger-docker) to learn more.

<div class="docker">
  <a href="https://github.com/phusion/passenger-docker" class="dark-button">Learn about passenger-docker</a>
</div>
