<div class="note">
  <h3 class="notoc">Flying Passenger note</h3>
  <p>
    This option has no effect when you are using <a href="<%= url_for "/deploy/#{integration_mode_type}/flying_passenger.html" %>">Flying Passenger</a>. Instead, you should configure this by passing the <code><%= option %></code> command line option to the Flying Passenger daemon.
  </p>
</div>
