<tr>
  <th>Enterprise only</th>
  <td><strong>This option is available in <a href="https://www.phusionpassenger.com/enterprise">Passenger Enterprise</a> only. Buy Passenger Enterprise <a href="https://www.phusionpassenger.com/download">here</a>.</strong></td>
</tr>
