---
title: 'Help! - Passenger + Node.js basics'
section: basics
subsection: help
sidebar: ../nodejs_or_iojs/toc.html
language_type: nodejs
language_name: Node.js
---
# Help!

<%= render_partial("../shared/help.md", locals: { language_type: :nodejs, language_name: "Node.js" }) %>

Please continue to the Conclusion.

<a href="conclusion.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
