---
title: 'Installation - Passenger + Node.js basics'
section: basics
subsection: installation
sidebar: ../nodejs_or_iojs/toc.html
language_type: nodejs
language_name: Node.js
---
# Installation

Installing Passenger for development is easy. We provide OS-specific installation packages to make your life easy.

<%= render_partial("../../start/install.html") %>

## Installation in production

Installation in production is a bit different. We will cover that later in the <a href="../../deploy/nodejs/">deployment walkthrough</a>.

## Next step

Next, we will consider the `passenger` command, which is responsible for starting and stopping Passenger in its Standalone mode.

<a href="passenger_command.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
