---
title: Installation, upgrade and uninstallation
section: install
comments: false
skip_search_index: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Installation, upgrade and uninstallation</h1>
      <p>Learn about topics related to installing, upgrading and uninstalling Passenger.</p>
    </div>
  </div>
<% end %>

<p>This section is targeted at <strong>advanced users</strong>. Not familar with Passenger? Please read <a href="<%= url_for "/walkthroughs/deploy/" %>">the deployment walkthrough</a> instead.</p>

<%= render_partial("/shared/integration_mode_selector.html", locals: {
  nginx_url: url_for('/install/nginx/index.html'),
  apache_url: url_for('/install/apache/index.html'),
  standalone_url: url_for('/install/standalone/index.html')
}) %>
