---
section: install
---
<%
@page_title = "Installation, upgrade and uninstallation - #{integration_mode_name}"
content_for(:sidebar) { render_partial("sidebar.html", locals: locals.merge(context: :index)) }
%>

<h1>Installation, upgrade and uninstallation<br>
<small>in <%= integration_mode_name %> mode</small></h1>

<div class="info">If you are not familiar with Passenger, it's best to follow the <a href="<%= url_for "/walkthroughs/deploy/index.html" %>">deployment tutorial</a> first.</div>

<div class="row">
  <div class="col-md-6">
    <h3>Basic tasks</h3>

    <ul class="list-unstyled list-links">
      <li><a href="install/">Installing Passenger</a></li>
      <li><a href="upgrade/">Upgrading Passenger</a></li>
      <% if integration_mode_type == :nginx || integration_mode_type == :apache %>
        <li><a href="disable.html">Disabling Passenger without uninstalling it</a></li>
      <% end %>
      <li><a href="uninstall/">Uninstalling Passenger</a></li>
      <li><a href="moving.html">Moving Passenger to a different directory</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Advanced tasks</h3>

    <ul class="list-unstyled list-links">
      <li><a href="noninteractive_install.html">Non-interactive, automatic, headless installs or upgrades</a></li>
      <li><a href="../crypto_verify_install.html">Cryptographic verification of installation files</a></li>
      <li><a href="customizing_compilation_process.html">Customizing the compilation process</a></li>
      <li><a href="upgrading_from_oss_to_enterprise.html">Upgrading from open source to Passenger Enterprise</a></li>
      <% if integration_mode_type == :nginx %>
        <li><a href="install_as_nginx_module.html">Installing Passenger as a normal or dynamic Nginx module</a></li>
        <li><a href="nginx_init_script.html">Creating an Nginx init script</a></li>
      <% elsif integration_mode_type == :apache %>
        <li><a href="multiple_apache_installs.html">Working with multiple Apache installations</a></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Background info</h3>
    <ul class="list-unstyled list-links">
      <li><a href="migrating/migrating_from_p4_to_p5.html">Migrating from Passenger 4 to 5</a></li>
      <li><a href="../supported_operating_systems_and_languages.html">Supported operating systems and languages</a></li>
      <li><a href="apt_repo/">APT repository (.deb packages)</a></li>
      <li><a href="yum_repo/">YUM repository (.rpm packages)</a></li>
      <% if integration_mode_type == :apache %>
        <li><a href="working_with_the_apache_config_file.html">Working with the Apache config file</a></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Related guides</h2>
    <ul class="list-unstyled list-links">
      <li><a href="../../indepth/integration_modes.html">In-depth: Integration modes (Nginx vs Apache vs Standalone)</a></li>
    </ul>
  </div>
</div>