---
section: install
---
<%
@page_title = "Installation, upgrade and uninstallation - #{integration_mode_name}"
content_for(:sidebar) { render_partial("sidebar.html", locals: locals.merge(context: :index)) }
%>

<h1>Installation, upgrade and uninstallation<br>
<small>in <%= integration_mode_name %> mode</small></h1>

<p class="lead">These guides cover various topics related to installing Passenger in <%= integration_mode_name %> mode. These guides are targeted at <em>advanced users</em>. If you are not familar with Passenger, please read <a href="<%= url_for "/walkthroughs/deploy/" %>">the deployment walkthrough</a> instead, which covers a deployment process end-to-end.</p>

<div class="row">
  <div class="col-md-6">
    <h2>Basic tasks</h2>

    <ul class="list-unstyled list-links">
      <li><a href="install/">Installing Passenger</a></li>
      <li><a href="upgrade.html">Upgrading Passenger</a> <span class="label label-warning">todo</span></li>
      <li><a href="disable.html">Disabling Passenger without uninstalling it</a></li>
      <li><a href="uninstall/">Uninstalling Passenger</a></li>
      <li><a href="moving.html">Moving Passenger to a different directory</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Advanced tasks</h2>

    <ul class="list-unstyled list-links">
      <li><a href="noninteractive_install.html">Non-interactive, automatic, headless installs or upgrades</a></li>
      <li><a href="../crypto_verify_install.html">Cryptographic verification of installation files</a></li>
      <li><a href="../customizing_compilation_process.html">Customizing the compilation process</a></li>
      <li><a href="upgrading_from_oss_to_enterprise.html">Upgrading from open source Passenger Enterprise</a></li>
      <% if integration_mode_type == :nginx %>
        <li><a href="install_as_nginx_module.html">Installing Passenger as a normal Nginx module</a></li>
        <li><a href="nginx_init_script.html">Creating an Nginx init script</a></li>
      <% end %>
    </ul>
  </div>
</div>

## Background information

<div class="row">
  <div class="col-md-6">
    <ul class="list-unstyled list-links">
      <li><a href="../../indepth/integration_modes.html">Integration modes (Nginx vs Apache vs Standalone)</a></li>
      <li><a href="../../indepth/supported_operating_systems_and_languages.html">Supported operating systems and languages</a></li>
      <li><a href="apt_repo.html">APT repository (.deb packages)</a></li>
      <li><a href="yum_repo.html">YUM repository (.rpm packages)</a></li>
      <% if integration_mode_type == :apache %>
        <li><a href="working_with_the_apache_config_file.html">Working with the Apache config file</a></li>
      <% end %>
    </ul>
  </div>
</div>