---
section: install
---
<%
@page_title = "Passenger #{integration_mode_name_as_passenger_suffix} YUM repository"
content_for(:sidebar) { render_partial("sidebar.html", locals: locals) }
%>

# Passenger <%= integration_mode_name_as_passenger_suffix %> YUM repository

We provide YUM repositories for installing Passenger on Red Hat Enterprise Linux and CentOS systems. There are separate repositories for the open source and Enterprise versions.

These packages are automatically built by our build server after we push out a source release, and thus are always up to date with the official source releases.

<div class="note">
  <h3 class="notoc">No Amazon Linux support</h3>
  <p>
    Our YUM repository may not be used with Amazon Linux. Amazon Linux is too different from RHEL and CentOS. If you are on Amazon Linux, you should use the generic installation method through tarball or RubyGems.
  </p>
</div>

If you use these packages to install Passenger then you do not need to run `passenger-install-apache2-module` or `passenger-install-nginx-module`. These packages contain all the binaries that you need. These packages also come with SELinux policy modules so that Passenger works nicely with SELinux.

Packages are available for the x86 and x86_64 architectures. Our policy is to support all Red Hat and CentOS releases that still receive full updates by their vendors. The earliest Red Hat and CentOS version we support is version 5.

## Installation guides

To learn more about installing Passenger or Passenger Enterprise through YUM, please refer to one of the installation guides. When asked to select an operating system, select <strong>"Red Hat, CentOS"</strong>.

<%= render_partial("/shared/edition_selector.html", locals: {
      oss_url: "install/oss/", enterprise_url: "install/enterprise/"}) %>
