---
title: Deployment, scaling and high availability
section: deploy
comments: false
skip_search_index: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Deployment, scaling and high availability</h1>
    </div>
  </div>
<% end %>

<%= render_partial("/shared/integration_mode_selector.html", locals: {
  nginx_url: url_for('/deploy/nginx/index.html'),
  apache_url: url_for('/deploy/apache/index.html'),
  standalone_url: url_for('/deploy/standalone/index.html')
}) %>
