---
section: deploy
---
<%
@page_title = "Deployment, scaling and high availability - #{integration_mode_name}"
content_for(:sidebar) { render_partial("sidebar.html", locals: locals.merge(context: :index)) }
%>

<h1>Deployment, scaling and high availability<br>
<small>in <%= integration_mode_name %> mode</small></h1>

<p class="lead">These guides assume that Passenger is already installed.</p>

<div class="info">If you are not familiar with Passenger, it's best to follow the <a href="<%= url_for "/walkthroughs/start/" %>">quickstart</a> or <a href="<%= url_for "/walkthroughs/deploy/" %>">deployment walkthrough</a> first.</div>

<div class="row">
  <div class="col-md-6">
    <h3>Basic deployment</h3>

    <ul class="list-unstyled list-links">
      <li><a href="deploy/">Deploying an application</a> <span class="label label-warning">todo</span></li>
      <li>Deploying multiple apps on a single server (multitenancy) <span class="label label-warning">todo</span></li>
      <li>Deploying with multiple Ruby versions <span class="label label-warning">todo</span></li>
      <li><a href="user_sandboxing.html">Sandboxing apps with Unix user accounts (user switching)</a> <span class="label label-warning">todo</span></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Advanced deployment</h3>

    <ul class="list-unstyled list-links">
      <li><a href="../automating_deployment_app_updates.html">Automating deployments of application updates</a></li>
      <li><a href="../zero_downtime_redeployments.html">Zero-downtime app updates and restarts</a> <span class="label label-warning">todo</span></li>
      <% if integration_mode_type != :standalone %>
        <li><a href="flying_passenger.html">Zero-downtime web server restarts with Flying Passenger Enterprise</a></li>
      <% end %>
      <% if integration_mode_type == :standalone %>
        <li><a href="mass_deployment.html">Mass deployment</a></li>
        <li><a href="reverse_proxy.html">Putting Passenger Standalone behind an Nginx or Apache reverse proxy</a></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Scaling and high availability</h3>

    <ul class="list-unstyled list-links">
      <li>Overview (<a href="https://www.digitalocean.com/community/tutorials/5-common-server-setups-for-your-web-application">example</a>)</li>
      <li>Scaling out to multiple servers</li>
      <li>Setting up high availability</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Tips</h3>

    <ul class="list-unstyled list-links">
      <li>Sample passenger_wsgi.py for Django</li>
    </ul>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h2>Related guides</h2>
    <ul class="list-unstyled list-links">
      <li><a href="<%= url_for "/config/#{integration_mode_type}/optimization.html" %>">Config: Optimization</a></li>
    </ul>
  </div>
</div>
