---
title: 'Deployment &amp; scaling'
section: deploy
---
<%
content_for(:sidebar) do
  %Q{
    <a href="#{url_for "/index.html"}" class="back-to-previous">&laquo; Back to Passenger Library front page</a>
  }
end
%>

# Deployment & scaling

<p class="lead">These guides cover deploying apps to production with Passenger. They assume Passenger is already installed and that systems are already setup.</p>

Not familar with Passenger? Check out the [the deployment walkthrough](<%= url_for "/walkthroughs/deploy/" %>), which covers a deployment process end-to-end. Looking to setup a development environment instead? Check out the [developer quickstart](<%= url_for "/walkthroughs/start/" %>).

<div class="row">
  <div class="col-md-4">
    <h3>Basics</h3>

    <ul class="list-unstyled list-links">
      <li><a href="ruby/">Deploying a Ruby app</a></li>
      <li><a href="python/">Deploying a Python app</a></li>
      <li><a href="nodejs/">Deploying a Node.js app</a></li>
      <li><a href="iojs/">Deploying an io.js app</a></li>
      <li><a href="meteor/">Deploying a Meteor app</a></li>
    </ul>
  </div>

  <div class="col-md-8">
    <h3>Advanced</h3>

    <ul class="list-unstyled list-links">
      <li>Deploying multiple apps on a single server (multitenancy)</li>
      <li>Deploying with multiple Ruby versions</li>
      <li>Sandboxing apps with Unix user accounts (user switching)</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Scaling & high availability</h3>

    <ul class="list-unstyled list-links">
      <li>Overview</li> <!-- similar to https://www.digitalocean.com/community/tutorials/5-common-server-setups-for-your-web-application -->
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Tips</h3>

    <ul class="list-unstyled list-links">
      <li>Sample passenger_wsgi.py for Django</li>
    </ul>
  </div>
</div>
