---
title: Deployment, scaling and high availability
section: deploy
comments: false
skip_search: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Deployment, scaling and high availability</h1>
      <p>Deploying web apps to a server that has Passenger installed; scaling to multiple servers in order to handle more traffic and always be up & running.</p>
    </div>
  </div>
<% end %>

<%= render_partial("/shared/ask_intmode.html", locals: { dest: ":intmode:/" }) %>
