---
title: Basics
section: basics
comments: false
skip_search_index: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Basics</h1>
      <p>Learn what Passenger is, how it fits in the stack, its fundamental concepts and its basic usage.
        Focuses mainly on development rather than production.</p>
    </div>
  </div>
<% end %>

<%= render_partial("/shared/programming_language_selector.html", locals: locals.merge(
  url_prefix: "#{config[:url_root]}/walkthroughs/basics/",
  intro_text: nil
)) %>
