---
title: Putting Passenger Standalone behind an Nginx or Apache reverse proxy
advanced_guides: true
breadcrumb: true
disabled_integrations:
- :nginx
- :apache
---

# Putting Passenger Standalone behind an Nginx or Apache reverse proxy
<%= render_partial('/shared/not_found', locals: { choice: :integration }) %>

<div class="back-button">
  <a class="dark-button" href="<%= url_for "/advanced_guides/deployment_and_scaling/index.html" %>">Back</a>
</div>
