<%= language_name %> applications normally execute in a single thread/process, using a single CPU core. Passenger enables running multiple instances of the application (multiple processes) using pooled application groups, distributing requests to the process that is currently handling the least amount of requests.

<div><img src="../request_load_balancing/request_load_balancing.png"></div>

In this way, load can be distributed across multiple cores without using [the cluster module](https://nodejs.org/api/cluster.html). Assuming a properly written asynchronous app, incoming requests will be handled concurrently (i.e. the next request can already start being handled while the previous is still being handled), and the Passenger request queue will remain empty.
