---
title: Guides
section: guides
multisection: true
---
<section class="bs-docs-section">
  <%= render_partial "/guides/_index.md" %>
</section>

<section class="bs-docs-section">
  <%= render_partial "/deploy/_index.md" %>
</section>

<section class="bs-docs-section">
  <%= render_partial "/admin/_index.md" %>
</section>
