---
multisection: true
comments: false
---
<% content_for :masthead do %>
  <div class="bs-docs-masthead" id="content">
    <div class="container">
      <h1 class="home-title">
        <span class="home-title-brand">Passenger</span>
        <span class="home-title-name">Walkthroughs</span>
      </h1>
      <p class="lead">A gentle beginner's guide to Passenger.</p>
      <p class="lead"><a href="walkthroughs/start/" class="btn btn-outline-inverse btn-lg">Get started</a></p>
    </div>
  </div>
<% end %>

<section class="bs-docs-section">
  <%= render_partial("/walkthroughs/index.html", locals: { quickstart: true, basics: true, deployment: true }) %>
</section>
