---
skip_search: true
skip_default_javascript: true
---
<form action="search.html">
  <div class="form-field">
    <input type="text" name="q" id="tipue_search_input" autocomplete="off" required class="form-control">
  </div>
  <p>
    <input type="submit" class="btn btn-primary" value="Search &raquo;">
  </p>
</form>

<hr>

<div id="tipue_search_content">
  <p>
    Loading search index...
  </p>
</div>

<script src="javascripts/all.js"></script>
<% if config[:dummy_search] %>
  <script src="search/tipue-content-dummy.js"></script>
<% else %>
  <script src="search/tipue-content.js"></script>
<% end %>
<script src="search/tipuesearch_set.js"></script>
<script src="search/tipuesearch.min.js"></script>
<script>
  $(document).ready(function() {
    $('#tipue_search_input').tipuesearch();
  });
</script>
