<div id="left-nav">
  <div id="left-nav-content">
    <img src="https://badge.fury.io/rb/passenger.svg" class="version" alt="gem version"/>

    <%= render_partial("/shared/dropdown.html", locals: locals.merge(
      dropdown_type: "Language",
      dropdown_items: ['Python', 'Ruby', 'Node', 'Meteor']
    )) %>

    <%= render_partial("/shared/dropdown.html", locals: locals.merge(
      dropdown_type: "Integration",
      dropdown_items: ['Nginx', 'Apache', 'Standalone']
    )) %>

    <ul>
      <span>About Passenger</span>
      <li><a href="#">What is Passenger?</a></li>
      <li><a href="#">Fundamental concepts</a></li>
    </ul>

    <ul>
      <span>Getting started</span>
      <li><a href="#">Quickstart</a></li>
      <li><a href="#">Installation</a></li>
      <li><a href="#">The ‘passenger’ command</a></li>
      <li><a href="#">Process management</a></li>
      <li><a href="#">Reloading code</a></li>
      <li><a href="#">The --help option</a></li>
    </ul>

    <ul>
      <span>Deployment</span>
      <li><a href="#">Deploy to production</a></li>
      <li><a href="#">Deploying updates</a></li>
    </ul>

  </div>
</div>
