---
title: 'Understanding Passenger - Passenger + Python basics'
section: basics
subsection: fundamental_concepts
sidebar: toc.html
language_type: meteor
language_name: Meteor
---
# Understanding Passenger

<p class="lead">We give you a basic understanding of what Passenger is. We also explain how Passenger fits in the stack and how it compares to other software that you may use.</p>

**Table of contents**

<ol class="toc-container"></ol>

## In a nutshell

Phusion Passenger is an open source **web application server**. It handles HTTP requests, manages processes and resources, and enables administration, monitoring and problem diagnosis.

Passenger is very easy to use, makes deploying in production much easier and is scalable. If you aren't already familiar with the benefits, you can [learn more about them](https://www.phusionpassenger.com/#about).

Passenger supports [multiple programming languages](<%= url_for "/walkthroughs/basics/index.html" %>), of which Python is one. Passenger can also serve multiple applications at the same time (it is multitenant).

## How Passenger fits in the stack

When you deploy your web app to production, there are all sorts of components involved. You may have heard of GUnicorn, uWSGI, Nginx and Apache. Passenger replaces some components, while collaborating with other components.

In a typical production stack, one would use Nginx or Apache as the web server, Passenger as application server, and Fabric as release automation tool. Passenger integrates with Nginx or Apache and manages the application and its resources.

<figure>
  <img src="<%= url_for 'stack.png' %>">
  <figcaption>Passenger integrates with Nginx/Apache, allows the app to speak HTTP and manages the app's processes and resources. Fabric automates releases.</figcaption>
</figure>

### Nginx and Apache

Nginx and Apache are web servers. They provide HTTP transaction handling and serve static files. However, they are not Python application servers and cannot run Python applications directly. That is why Nginx and Apache are used in combination with an application server, such as Passenger.

Application servers provide HTTP request handling services to Python web apps. That said, application servers typically aren't as good as Nginx and Apache at handling HTTP requests. The devil is in the details: Nginx and Apache are better at handling I/O security, HTTP concurrency management, connection timeouts, etc. That's why, in production environments, application servers are used in combination with Nginx or Apache.

### Fabric

Fabric is an application release automation tool. When releasing a new version of your web application, there are actions that need to be performed, such as uploading your application code to your servers, running a command to install your gem bundle, restarting processes, etc. Fabric allows you to automate these actions.

Fabric is not a server that provides HTTP transaction handling, so it does not replace application servers or web servers. Instead, you are supposed to use Fabric in combination with them. For example, Fabric scripts typically contain instructions to restart the application server after a new application version has been released.

### GUnicorn and uWSGI

GUnicorn and uWSGI are alternative application servers. Passenger replaces GUnicorn and uWSGI.

Passenger's feature set is very different from those of GUnicorn and uWSGI. In particular, Passenger has a stronger focus on ease of use, integration with other components, automatic management and enabling problem diagnosis. For example, Passenger can integrate with Nginx and Apache in order to reduce setup work, and provides tools for easy problem diagnosis.

## Multiple integration modes

<%= render_partial("../shared/integration_modes.md", locals: { context: :basics, language_type: :python }) %>

## What Passenger does not do

Passenger does many things, but some things are currently out of scope.

 * **Setting up a server with an operating system**<br>
   Passenger assumes that you already have a server with an working operating system on it. Passenger is not a hosting service. It is software that is to be installed on a server.<!-- TODO: <br>
   However, the Passenger Library contains excellent [documentation on setting up a server](../../deploy/python/). -->
 * **Installing Python**<br>
   To run Python web apps on Passenger, you must already have Python installed. Passenger does not do that for you. Passenger does not care how you install Python though; you sometimes just need to tell Passenger where Python is.<!-- TODO: <br>
   Having said that, the Passenger Library contains excellent [documentation on installing Python during a production deployment](../../deploy/python/). -->
 * **Transferring the application code and files to the server**<br>
   Passenger does not transfer the application code and files to the server for you. To do this, you should use something like Capistrano. Passenger assumes that the application code and files are already on the server, and does not care which tool you use to make that so.
 * **Installing application dependencies**<br>
   Passenger does not install your application's dependencies for you. That job belongs to Fabric, Virtualenv and pip.
 * **Managing the database**<br>
   If your application requires a database, then Passenger does not install that database for you, nor does it sets up database accounts and tables for you. They must already be set up by the time you deploy your application to Passenger.

## Next step

You now have a solid understanding of Passenger's fundamental concepts. Let us go through installing Passenger next.

<a href="installation.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
