---
title: 'Installation - Passenger + Python basics'
section: basics
subsection: installation
sidebar: toc.html
---
# Installation

Installing Passenger for development is easy. We provide OS-specific installation packages to make your life easy.

<%= render_partial("../../start/install.html") %>

## Installation in production

Installation in production is a bit different. We will cover that later in the <a href="../../deploy/meteor/">deployment walkthrough</a>.

## Next step

Next, we will consider the `passenger` command, which is responsible for starting and stopping Passenger in its Standalone mode.

<a href="passenger_command.html" class="btn btn-primary btn-lg">Continue &raquo;</a>
