---
section: config
---
<%
@page_title = "Tuning for Server Sent Events and WebSockets on Passenger #{integration_mode_name_as_passenger_suffix}"
content_for(:sidebar) { render_partial("../sidebar.html", locals: locals) }
%>

<h1>Tuning for Server Sent Events and WebSockets<br>
<small>on Passenger <%= integration_mode_name_as_passenger_suffix %></small></h1>

<% if integration_mode_type == :apache %>
<div class="note">Although Passenger supports Server Sent Events (SSE) out of the box, the Apache integration mode has <a href="https://github.com/phusion/passenger/issues/1202">issues with Apache</a>.
We recommend using either Passenger Standalone with Apache as a reverse proxy, or Passenger with the Nginx integration mode.</div>
<% end %>

Using SSE with WebSockets generally means that an application must handle multiple concurrent connections. Ruby applications usually can't do this and need a special
configuration tweak.

## Ruby concurrency tweak

Passenger's highly optimized load balancer assumes that Ruby apps can handle 1 (or thread-limited amount of) concurrent connection(s). This is usually the case and results
in optimal load-balancing. But endpoints that deal with SSE/Websockets can handle many more concurrent connections, so the assumption leads to degraded performance.

<%= render_partial("ruby_#{integration_mode_type}.md", locals: locals) %>

## Action Cable integration

Are you using Ruby on Rails with Action Cable? Please refer to our [Action Cable integration guide](<%= url_for "/config/#{integration_mode_type}/action_cable_integration/index.html" %>).

## Demo apps

You can find Passenger SSE and WebSocket demo apps on [the Passenger documentation overview page](https://www.phusionpassenger.com/documentation_and_support), under section "Demos".
