---
title: In-depth
section: indepth
---
<% content_for(:sidebar) { render_partial("sidebar.html", locals: locals.merge(context: :index)) } %>

# In-depth

<div class="row">
  <div class="col-md-6">
    <h3>General Passenger</h3>

    <ul class="list-unstyled list-links">
      <li><a href="../lightweight_ruby_dependency.html">Lightweight Ruby dependency</a></li>
      <li><a href="../integration_modes.html">Integration modes (Nginx, Apache, Standalone)</a></li>
      <li><a href="../standalone_engines.html">Passenger Standalone engines</a> <span class="label label-warning">todo</span></li>
      <li><a href="../open_source_vs_enterprise.html">Passenger open source vs Passenger Enterprise</a></li>
      <li><a href="../hooks.html">Hooking in to Passenger</a></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>General concepts</h3>

    <ul class="list-unstyled list-links">
      <li><a href="../processes.html">About processes</a></li>
      <li><a href="../environment_variables.html">About environment variables</a></li>
      <li><a href="../accurately_measuring_memory_usage.html">Accurately measuring memory usage</a></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Passenger behavior</h3>
    <ul class="list-unstyled list-links">
      <li><a href="../app_autodetection/">How Passenger autodetects applications</a></li>
      <li><a href="request_load_balancing.html">Request load balancing</a></li>
      <li><a href="../request_queueing.html">Request queueing</a> <span class="label label-warning">todo</span></li>
      <li><a href="dynamic_scaling_of_app_processes/">How dynamic scaling of application processes works</a></li>
      <li><a href="../slow_clients.html">Protection against slow clients through buffering</a> <span class="label label-warning">todo</span></li>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Passenger's exposed application environment</h3>
    <ul class="list-unstyled list-links">
      <li><a href="../std_channels.html">Stdin, stdout and stderr channels</a></li>
      <li><a href="apache_per_request_envvars.html">Apache per-request environment variables</a></li>
    </ul>
  </div>
</div>

<% if [:ruby, :nodejs, :meteor].include?(language_type) %>
  <h3><%= language_name %>-specific</h3>

  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled list-links">
        <% if language_type == :ruby %>
          <li><a href="multiple_rubies.html">How having multiple Ruby interpreters affects Passenger</a></li>
          <li><a href="out_of_band_work.html">Out-of-band work and garbage collection</a></li>
          <li><a href="spawn_methods/">Smart spawning</a></li>
          <li><a href="bundler.html">Bundler support</a></li>
        <% elsif language_type == :nodejs %>
          <li><a href="reverse_port_binding.html">Reverse port binding</a></li>
        <% elsif language_type == :meteor %>
          <li><a href="meteor.html">About Meteor support</a></li>
        <% end %>

        <% if language_type == :nodejs || language_type == :meteor %>
          <li><a href="secure_http_headers.html">Secure HTTP headers</a></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h2>Related guides</h2>
    <ul class="list-unstyled list-links">
      <li><a href="<%= url_for "/install/supported_operating_systems_and_languages.html" %>">Installation: Supported operating systems and languages</a></li>
      <li><a href="<%= url_for "/dev/#{language_type}/turbocaching.html" %>">Developing with Passenger: Turbocaching</a></li>
    </ul>
  </div>
</div>
