---
title: Development
section: dev
comments: false
skip_search: true
---
<% content_for :masthead do %>
  <div class="bs-docs-header" id="content">
    <div class="container">
      <h1>Development</h1>
      <p>Using Passenger during application development. Learn how Passenger makes development easier. Integrate your application with Passenger features.</p>
    </div>
  </div>
<% end %>

<%= render_partial("/shared/ask_lang.html", locals: { dest: ":lang:/" }) %>
